.ui-header.ui-bar-inherit {
	background-color: White;
	border: none;
}

.ui-content {
	background-color: White;	
}

.ui-page.ui-page-theme-a.ui-page-active{
	background-color: White;	
}

.ui-title{	
	outline: none;
	font-family: "Lato",sans-serif;
    font-size: 42px!important;
    font-style: normal;
    font-weight: 700;
    letter-spacing: -0.035em;    
    color: rgb(51,51,51);
    text-decoration: none;
    border: none;    
}

.ui-page-theme-a {
  background: white;
  color: #666;
}

.ui-corner-all {
  border-radius: 0;
}

.ui-select .ui-btn select {
  border-radius: 0;
}

.rbn_ven_descr {
  font-size: 14px;
  line-height: 22px;
}



.ui-panel-m-titlebar.ui-bar{
	background-color: rgb(183, 158, 87);
	color: white;
	text-shadow: none;	
}

.ui-grid-a{
	background-color:white;
	/*color: white;*/
}
.ui-header.ui-bar-inherit, div.ui-footer.ui-bar-inherit {
  background-color: white;
  border: none;
  color: rgb(51, 51, 51);
  text-shadow: none;
  font-size: 1rem;
  font-weight: 400;
  font-family: Helvetica,Arial,sans-serif;
  
}

.ui-column-header {
	background-color: rgb(183, 158, 87);
	color: white;
	text-shadow: none;
    font-weight: 700;		
}

.rbn-more-info-button.ui-btn.ui-icon-arrow-r.ui-btn-icon-left.ui-btn-inline.ui-shadow.ui-corner-all{
	background-color: rgb(183, 158, 87);
	color: white;
	text-shadow: none;
    font-weight: 700;	
}


.rb-header {
  background-color: rgb(183, 158, 87);
  background-repeat: no-repeat;
  background-position: 50% 66%;
	background-size: 50vh;
  border: none;
      height:100px;
}

.rb-header-title {
  color: black;
  font-size: 2em;
  padding-top: 30px;    
}

.rb-parent-cat-title,
.rb-child-cat-title,
.rb-prod-title,
.rb-basket-title-pg,
.rb-checkout-title{
  color: rgb(183, 158, 87);
}

.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before {
  color: black;
}


/* Category Image Selected*/
.rb-parent-cat-container .rb-parent-cat-sel a img,
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a,
.rb-child-cat-container .rb-child-cat-sel a img,
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  box-shadow: 0 0 0px 6px rgb(183, 158, 87);
}

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
  color: rgb(183, 158, 87);
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: rgb(183, 158, 87);
  box-shadow: 2px -1 -1 rgb(183, 158, 87), -2px -1 -1 #375d9d;
}


/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: black !important;
  background-color: rgb(183, 158, 87) !important;
}

#orderForm\:booknow {
  background-color: rgb(183, 158, 87);
  border: 1px solid rgb(183, 158, 87);
}
#orderForm\:booknow:hover {
  background-color: rgb(183, 158, 87);
  border: 1px solid rgb(183, 158, 87);
}

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: rgb(55, 93, 157);
}

/* Default Buttons */

.ui-button.ui-widget.ui-state-default {
  background-color: black;
  border-color: black;
}
.ui-button.ui-widget.ui-state-hover {
  background-color: rgb(183, 158, 87);
}

/* Card title*/
.rb-prod-desc-item:nth-child(1) label {
    color:  rgb(183, 158, 87) !important;
}
