body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: 'Open Sans',sans-serif;
	font-weight: 100;
 	background: rgb(239, 239, 239)!important;
	color: #000;
	text-shadow: none;
}
/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*add logo color*/
.ui-header.ui-bar-inherit {
	background: url(https://dabb7zy6p4b0z.cloudfront.net/yasushi/download.png) 5% no-repeat;
    	height: 100px;
    	background-size: 500px;    	
	border-width:0px;
}
#base_page\3a vform\div > div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
#base_page\3a vform\3a rqpnl > div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit, .ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	color: white;
	background-color: #b1a374;
	text-shadow: none; 
}

#base_page\:vform\:quickbookingtable_data > .ui-datatable-empty-message > td {
  display: none;
}
#base_page\:vform\:quickbookingtable_data > .ui-datatable-empty-message:after {
  content: "Sorry, we didn't find anything! Accommodation matching your search criteria might be fully booked, might not be possible to book during these dates, or is available on request only. Please try a different date or contact res@yasushinozawa.com for more information.";
  display: block;
  margin: .5em;
}

.ui-link.ui-btn.ui-icon-navigation.ui-btn-icon-top.ui-btn-active {
  background-color: #82786e;
  text-shadow: none; 
}

.ui-paginator-page.ui-btn-active.ui-btn{
  color: Black !important;
  text-shadow: none !important;
  border: none !important;
}
