body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: Yu 'Open Sans',sans-serif;
	font-weight: 100;
 	background: rgb(239, 239, 239)!important;
	color: black;
	text-shadow: none;
}
/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*add logo color*/
.ui-header.ui-bar-inherit {
	background: url(https://roomboss.github.io/css/yasushi/download.png) 15% no-repeat;
    	height: 200px;
    	background-size: 400px;
    	background-color: rgb(199,208,217);
	border-widget:0px;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
background-color: #b1a374;
}

