/*css for bpay2, owner report, yourbooking and for http://www.hakubawhitefox.com/*/

/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*add logos*/
.ui-header.ui-bar-inherit {
	background: url(white_logo_transparent_background_axo58u.png) 5% 5% no-repeat, url(0cf3ddb3-0950-42d0-97e4-a780155f913b_am1vfb.jpg) no-repeat center;
    	height: 350px;
    	background-size: 160px, 1999px;
    	/*border-top-width: 32px;
    	border-top-color: #002e52;
    	border-bottom-width: 0px;*/
}
/*page white and font*/
body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: Yu 'Open Sans',sans-serif;
	font-weight: 100;
 	background: white!important;
	color: black;
	text-shadow: none;
}

/*Fix selected buttons*/
.ui-state-disabled{
  	 	background:#38c!important;	
}

/*bpay2*/

