/*css for bpay2, owner report, yourbooking and for http://www.hakubawhitefox.com/*/

/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*add logos*/
.ui-header.ui-bar-inherit {
	background: url(white_logo_transparent_background_axo58u.png) 5% 5% no-repeat, url(https://dabb7zy6p4b0z.cloudfront.net/whitefox/whitefox.jpg) no-repeat center;
    	height: 345px;
    	background-size: 160px, cover;
    	/*border-top-width: 32px;
    	border-top-color: #002e52;
    	border-bottom-width: 0px;*/
}
/*page white and font*/
body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: Yu 'Open Sans',sans-serif;
	font-weight: 100;
 	background: white!important;
	color: black;
	text-shadow: none;
}

/*Fix selected buttons*/
.ui-state-disabled.rbn-gotobutt{
  	 	background:#38c!important;	
}

/*bpay2*/
/*strikethrough before*/
.rb-rack-unselected{
	color: red !important;
	font-size: 0.8em !important;
	text-shadow: none !important;
}

/*strikethrough after*/
.rb-rack-cost{
	color: red !important;
	font-size: 1.1em !important;
	text-shadow: none !important;
}

.sq-button{
	background: linear-gradient(180deg,#3399cc -57.14%,#1f89ce 125%) !important;
}
