
@font-face {
    font-family: 'Century Gothic';
    src: url('CenturyGothic.woff2') format('woff2'),
        url('CenturyGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Medium.eot');
    src: url('AvenirLTStd-Medium.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Medium.woff2') format('woff2'),
        url('AvenirLTStd-Medium.woff') format('woff'),
        url('AvenirLTStd-Medium.ttf') format('truetype'),
        url('AvenirLTStd-Medium.svg#AvenirLTStd-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Heavy.eot');
    src: url('AvenirLTStd-Heavy.eot?#iefix') format('embedded-opentype'),
        url('AvenirLTStd-Heavy.woff2') format('woff2'),
        url('AvenirLTStd-Heavy.woff') format('woff'),
        url('AvenirLTStd-Heavy.ttf') format('truetype'),
        url('AvenirLTStd-Heavy.svg#AvenirLTStd-Heavy') format('svg');
    font-weight: 900;
    font-style: normal;
}




.ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled {
    background: #fff !important;
    border: none !important;
}

td.ui-datepicker-other-month.ui-datepicker-unselectable.ui-state-disabled {
    background: #fff !important;
    border: none !important;
}


td.ui-datepicker-week-end.rbn-selected {
    background: -moz-linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(49%, rgba(255,255,255,1)), color-stop(50%, rgba(247,167,0,1)), color-stop(100%, rgba(247,167,0,1)));
    background: -webkit-linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    background: -o-linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    background: -ms-linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#FFFFFF', endColorstr='#f7a700',GradientType=1 );
}

td.rbn-checkout-date {
    background: -moz-linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, rgba(247,167,0,1)), color-stop(50%, rgba(247,167,0,1)), color-stop(51%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
    background: -webkit-linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    background: -o-linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    background: -ms-linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    background: linear-gradient(315deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 49%, rgba(247,167,0,1) 50%, rgba(247,167,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7a700', endColorstr='#FFFFFF',GradientType=1 );
}








form#form {  text-align:center;width:auto;
-webkit-overflow-scrolling:touch !important;}

form#form table.rb-month-select-wrap {
    text-align: center;
    display: inline-block;
}

#form > table > tbody > tr:nth-child(1) > td > table{

    display: block;
}

.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi-9.ui-datepicker-multi {
    background: #ffffff;
}
td.ui-datepicker-days-cell-over.ui-datepicker-unselectable.ui-state-disabled.ui-datepicker-current-day span.ui-state-default {
    color: #ccc !important;
}

.ui-datepicker .ui-datepicker-header {
    padding: 0;
    background: transparent !important;
    color: #39bb9d;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Century Gothic' !important;
    font-size: 18px;
    font-weight: bold;
	border: none;
}

td.ui-datepicker-unselectable.ui-state-disabled span.ui-state-default {
    color: #ccc !important;
}
td.ui-datepicker-days-cell-over.ui-datepicker-unselectable.ui-state-disabled.ui-datepicker-current-day {
    color: #ccc !important;
}

td.ui-datepicker-unselectable.ui-state-disabled.rbn-not-avail {
    background: #D9D7D6 !important;
    color: #fff !important;
    text-decoration: none !important;
    text-decoration-style: inherit !important;
}

td.ui-datepicker-unselectable.ui-state-disabled.rbn-not-avail span.ui-state-default {
    color: #000 !important;
}

td.ui-datepicker-unselectable.ui-state-disabled {
   border: 1px solid #EDEDED !important;
    opacity: 1;
}


.ui-datepicker .ui-datepicker-calendar .rbn-selected .ui-state-default {
    color: #000000 !important;
    font-weight: normal;
}

.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    background: 0;
    border: 0;
    color: #000000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    text-align: center;
    font-family: 'Avenir LT Std' !important;
    font-weight: 500;
    font-style: normal;
}

.ui-datepicker .ui-datepicker-calendar .rbn-checkout-date .ui-state-default {
    color: #0e0e0e !important;
    font-weight: normal;
}




.ui-datepicker .ui-datepicker-calendar .ui-state-default {
    background: 0;
    border: 0;
    color: #554743 !important;
    box-shadow: none !important;
    text-shadow: none !important;
	text-align: center;
	    font-family: 'Avenir LT Std' !important;
    font-weight: 500;
    font-style: normal;

}



.ui-calendar .ui-datepicker .ui-datepicker-current-day .ui-state-highlight, .ui-calendar .ui-datepicker .ui-datepicker-current-day .ui-state-default {
    color: #777676 !important;
    box-shadow: none !important;
    text-shadow: none !important;
}

tr {
    background: #fff;
    border: 1px solid #efefef !important;
}

.ui-datepicker th {
    border: 1px solid #4a4a4a !important;
    background: #625956;
    color: #fff;
    font-family: 'Avenir LT Std' !important;
    font-weight: 900;
    font-style: normal;
}


.rbn-selected {
    background: #f7a726 !important;
}

.rbn-checkout-date {
    background: #f5a623;
}




.ui-datepicker td {
    border: 1px solid #EDEDED;
     font-family: 'Avenir LT Std' !important;
    font-weight: 500;
    font-style: normal;
}


.ui-datepicker th span {
    font-family: 'Avenir LT Std' !important;
    font-weight: 900;
    font-style: normal;
}


@media (min-width:319px) and (max-width:767px){
    
   .ui-datepicker-multi-3, .ui-datepicker-multi-5, .ui-datepicker-multi-6, .ui-datepicker-multi-9 {
    width: 300px !important;
} 
 .ui-datepicker-multi-9 .ui-datepicker-group {
    width: 100%;
    margin-bottom: 10px;
}   
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}	
	
/*mozilla scroll bar*/  

::-moz-scrollbar {
    -moz-appearance: none;
}
::-moz-scrollbar:vertical {
    width: 12px;
}
::-moz-scrollbar:horizontal {
    height: 12px;
}
::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-moz-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}


.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-4, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-7, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-8, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-10, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-11, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-12 {
    width: 90% !important;
    display: inline-block !important;
}

.ui-datepicker-multi-12 .ui-datepicker-group {
    width: 100% !important;
}



    
}




@media only screen and (min-device-width : 319px) and (max-device-width : 680px) {


   .ui-datepicker-multi-3, .ui-datepicker-multi-5, .ui-datepicker-multi-6, .ui-datepicker-multi-9 {
    width: 300px !important;
} 
 .ui-datepicker-multi-9 .ui-datepicker-group {
    width: 100%;
    margin-bottom: 10px;
}   
::-webkit-scrollbar {
    -webkit-appearance: none;
}
::-webkit-scrollbar:vertical {
    width: 12px;
}
::-webkit-scrollbar:horizontal {
    height: 12px;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}	
	
/*mozilla scroll bar*/  

::-moz-scrollbar {
    -moz-appearance: none;
}
::-moz-scrollbar:vertical {
    width: 12px;
}
::-moz-scrollbar:horizontal {
    height: 12px;
}
::-moz-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}
::-moz-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}

.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-4, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-7, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-8, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-10, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-11, 
.ui-datepicker-inline.ui-datepicker.ui-datepicker-multi-12 {
    width: 90% !important;
    display: inline-block !important;
}

.ui-datepicker-multi-12 .ui-datepicker-group {
    width: 100% !important;
}

}
