/*logo update needed*/

:root {
  --primary-color: #bf8f45;
  --accent-color: #bf8f45;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
  margin-right: 1rem;
  width: 200px;
  height: 50px;
  background: url('https://dabb7zy6p4b0z.cloudfront.net/jadegroup/amber-resort.png');
  background-size: contain;
 background-repeat: no-repeat; 

}

.mobile-search-logo {
  display: block !important;
  background: url('https://dabb7zy6p4b0z.cloudfront.net/jadegroup/amber-resort.png');  
}
