/* @import url('//roomboss.github.io/css/ui/main02.css'); */

/* Remove Group Members */
.rb-my-group, .rb-my-booking, .rb-guests-pg,
#orderForm\:itemdtchkout_data > tr > td > [id*=member],
#orderForm\:itemdtchkout_data > tr > td > [id*=guestsselpg] {
  display: none;
}

/* Custom design */

.rb-header {
  background-image: url("https://dabb7zy6p4b0z.cloudfront.net/jadegroup/jade-group.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 350px !important;
  background-position: center;
  background-color: #fff !important;
  height:130px;
}

.rb-header-title {
  display: none;
}

.rb-parent-cat-title,
.rb-child-cat-title,
.rb-prod-title,
.rb-basket-title-pg,
.rb-checkout-title{
  color: #004D0D;
}

.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before {
  color: #53A867;
}


/* Category Image Selected*/
.rb-parent-cat-container .rb-parent-cat-sel a img,
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a,
.rb-child-cat-container .rb-child-cat-sel a img,
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  box-shadow: 0 0 0px 6px #53A867;
}

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
  color: #004D0D;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #004D0D;
  box-shadow: 2px -1 -1 #004D0D, -2px -1 -1 #004D0D;
}


/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #53A867 !important;
  background-color: #004D0D !important;
}

#orderForm\:booknow {
  background-color: #004D0D
  border: 1px solid #004D0D;
}
#orderForm\:booknow:hover {
  background-color: #53A867;
  border: 1px solid #53A867;
}

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #004D0D;
}

/* Default Buttons */

.ui-button.ui-widget.ui-state-default {
  background-color: #53A867;
  border-color: #53A867;
}
.ui-button.ui-widget.ui-state-hover {
  background-color: #53A867;
}

/* Card title*/
.rb-prod-desc-item:nth-child(1) label {
    color: #004D0D !important;
}
