:root {
  --primary-color: #004D0D;
  --accent-color: #004D0D;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
  margin-right: 1rem;
  width: 200px;
  height: 50px;
  background: url('https://dabb7zy6p4b0z.cloudfront.net/jadegroup/jade-chalet-g.png');
  background-size: contain;
  background-repeat: no-repeat; 
}
