
#base_page\:selectvendorform\:welcomeTxtTitle::after { 
    content: " - Remember this";
}

#base_page\:neworderform\:cbgrid\:1\:productTitleId {
    visibility: hidden;
}

#base_page\:neworderform\:cbgrid\:1\:productTitleId::before {
    visibility: visible;
    content: "Modified Field";
}
