* {
text-shadow: none;
}

.rb-content > table:nth-child(2) {
display: none;
}

/* Remove top title */
.ui-header.ui-bar-inherit h1.ui-title {
display:none !important;
}
/* Heading */
.ui-header.ui-bar-inherit {
background-image: url('//roomboss.github.io/css/japaho/Yukibancho_Rentals.svg');
background-repeat: no-repeat;
background-position: center;
background-size: 400px;
height: 150px;
background-color: #000;
border-color: #000;
}

/* Top Buttons */
[id*="languageSelect"], [id*="currencySelect"]{
display: none;
}

.prod-opt-table {
border-right: 1px solid #ddd !important;
border-left: 1px solid #ddd !important;
}

.hasDatepicker {
border: 1px solid #ddd;
}

@media(max-width:561px) {
#base_page\:neworderform\:newOrderItemTable *{
width: 100%;
box-sizing: border-box;
}
div.ui-block-a:nth-child(7), #base_page\:neworderform\:j_idt71 {
display: none;
}
}

[id*="neworderform"] .ui-panel-m-content {
margin-bottom: 0.5em;
}
