* {
text-shadow: none;
}

.rb-content > table:nth-child(2) {
display: none;
}

/* Remove top title */
.ui-header.ui-bar-inherit h1.ui-title {
display:none !important;
}
/* Heading */
.ui-header.ui-bar-inherit {
background-image: url('https://dabb7zy6p4b0z.cloudfront.net/japaho/Yukibancho_Rentals.svg');
background-repeat: no-repeat;
background-position: center;
background-size: 400px;
height: 150px;
background-color: #000;
border-color: #000;
}

/* Top Buttons */
[id*="languageSelect"], [id*="currencySelect"]{
display: none;
}

.prod-opt-table {
border-right: 1px solid #ddd !important;
border-left: 1px solid #ddd !important;
}

.hasDatepicker {
border: 1px solid #ddd;
}

@media(max-width:561px) {
#base_page\:neworderform\:newOrderItemTable *{
width: 100%;
box-sizing: border-box;
}
div.ui-block-a:nth-child(7), #base_page\:neworderform\:j_idt71 {
display: none;
}
}

[id*="neworderform"] .ui-panel-m-content {
margin-bottom: 0.5em;
}


/* Booking Message */
[lang="en"] #base_page\:orderedpan > p:nth-child(2):after {
	content: "If you do not receive an automated email address within 24 hours, it is possible that there was an error with the email entered — please confirm the email address and inquire again.";
	display: block;
	margin-top: 1em;
}
[lang="ja"] #base_page\:orderedpan > p:nth-child(2):after {
	content: "自動返信メールが1日経っても届かない場合は、メールアドレスが間違いなど何らかのトラブルがあるかもしれませんので、その際は再度メールアドレスをご確認いただき、お問い合わせをお願いいたします。";
	display: block;
	margin-top: 1em;
}
