/*ms widget hilton express portal header colour and size*/
.ui-header.ui-bar-inherit{
		background: #375d9d
		url('https://roomboss.github.io/css/hiltonexpress/car-driving.jpg')
		no-repeat;
	background-position: 50% 12%;
	background-color: #3A528E;
	height: 100px;
}

/*main bar*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: #3A528E;
	color: white;
	text-shadow: none; 
	border-radius: 5px;
}

/*color more info button*/
.rbn-more-info-button.ui-btn.ui-icon-arrow-r.ui-btn-icon-left.ui-btn-inline.ui-shadow.ui-corner-all {
	background-color: #3A528E!important;
	color: white;
	text-shadow: none; 
	border: none;	  	
}
