/* Your Booking */
/* Custom */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300,400,700|Roboto:300,400,700&display=swap");
.rb-cat-desc {
  padding-top: 1em; }

.rb-header {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }

.ui-dialog-titlebar-close.ui-state-hover {
  background: transparent; }

.ui-dialog.ui-hidden-container > div.ui-dialog-content.ui-widget-content {
  padding: 0em 1em .5em 1em; }

.rb-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.rb-header-title {
  font-size: 36px;
  text-transform: uppercase;
  padding: 20px 30px;
  line-height: 36px; }

@media screen and (max-width: 800px) {
  .rb-header {
    padding: 20px 0px 20px !important; }

  .rb-header-title {
    padding-top: 30px !important; } }
.rb-header-title:before {
  content: "JSE ";
  color: #D42E46; }

#locform\:currencySelect_label, #locform\:languageSelect_label {
  color: #fff !important;
  overflow: visible;
  text-align: center !important;
  border-radius: 2px !important;
  background-color: #D42E46 !important;
  font-size: 14px;
  text-transform: uppercase; }

#locform\:currencySelect > .ui-selectonemenu-trigger.ui-state-default.ui-corner-right, #locform\:languageSelect > .ui-selectonemenu-trigger.ui-state-default.ui-corner-right {
  background-color: #D42E46 !important; }

div #locform\:languageSelect, div #locform\:currencySelect {
  min-width: 45px !important;
  padding-right: 23px; }

.ui-btn-right {
  margin-right: -5px; }

.ui-btn-right .ui-state-default {
  border: none !important; }

.ui-widget-content .ui-state-highlight {
  color: #fff; }

.rb-parent-cat-container, .rb-child-cat-container {
  padding-bottom: 0 !important; }

* {
  font-family: "Noto Sans JP", sans-serif; }

.rb-header {
  background-image: url("");
  background-color: #1E262E !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: none;
  height: auto !important;
  border-bottom: 15px solid #D42E46; }

.rb-header-title {
  font-family: "Noto Sans JP", sans-serif; }

/* Custom Headers */
.rb-parent-cat-title, .rb-child-cat-title, .rb-prod-title, .rb-basket-title, .rb-checkout-title, .rb-my-booking-title, .rb-my-group-title, .ui-dialog-title, #orderForm\:existglbl, #orderForm\:newguestlbl, #orderForm\:contactinfolbl, #orderForm\:addqlbl, #orderForm\:foremlblnew, #guestDialogForm\:foremlbledit, #orderForm\:welclbl, #orderForm\:foremlbl, h3 {
  color: #333;
  text-transform: uppercase;
  font-family: "Noto Sans JP", sans-serif; }

/*Custom Icons */
.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before,
.rb-checkout-title:before {
  color: #F34C5B; }

/* Sel item highlight */
.rb-parent-cat-container .rb-parent-cat-sel a img, .rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a, .rb-child-cat-container .rb-child-cat-sel a img, .rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  -webkit-box-shadow: 0 0 0px 6px #D42E46;
  box-shadow: 0 0 0px 6px #D42E46; }

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal; }

/* Hide Icon */
.rb-parent-cat-desc:before {
  display: none; }

#orderForm\:addbskpg > tbody:nth-child(1) > tr:nth-child(1) {
  text-align: left; }

#orderForm\:stdtlbl,
#orderForm\:grosslbl {
  margin-left: 8px; }

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #333;
  box-shadow: 2px -1 -1 #333, -2px -1 -1 #333; }

/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #D42E46 !important;
  background-color: #333 !important; }

.ui-dialog-title {
  color: #fff !important; }

#orderForm\:booknow,
#orderForm\:booknowcond {
  background-color: #D42E46 !important;
  border: 1px solid #D42E46 !important;
  color: #1E262E !important; }

#orderForm\:booknow:hover,
#orderForm\:booknowcond:hover {
  background-color: #ac2337 !important;
  border: 1px solid #ac2337 !important;
  color: #1E262E !important; }

/* Custom Button Font */
.ui-button-text {
  font-family: "Noto Sans JP", sans-serif !important; }

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #333; }

.ui-widget-content .ui-state-highlight {
  background: #D42E46; }

/* CHECKOUT */
.rb-checkout-title:before {
  content: "\f291";
  margin-right: 10px;
  font-family: "FontAwesome" !important; }

/* Default Buttons */
.ui-button.ui-widget.ui-state-default {
  background-color: #D42E46;
  border-color: #D42E46;
  color: #fff !important; }

.ui-button.ui-widget.ui-state-hover,
.ui-button.ui-widget.ui-state-active {
  background-color: #dd586b;
  border-color: #dd586b; }

.ui-button {
  text-transform: uppercase; }

.ui-header.ui-bar-inherit {
  border-bottom: 15px solid #D42E46;
  border-top: 15px solid #D42E46; }

.ui-title {
  display: none !important; }

/* Panels*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.ui-btn .ui-panel-collapsible-heading-toggle,
.ui-icon-minus:after, .ui-icon-plus:after {
  background-color: #D42E46 !important;
  border: none;
  color: #fff;
  text-shadow: none; }

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit:hover,
.ui-btn .ui-panel-collapsible-heading-toggle:hover {
  background-color: #4d4d4d; }

/* Buttons */
#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow,
#base_page\:locform\:languageSelect_input-button, #base_page\:locform\:currencySelect_input-button {
  background-color: #D42E46;
  border: none;
  color: #fff !important;
  text-shadow: none !important; }

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover,
#base_page\:locform\:languageSelect_input-button:hover, #base_page\:locform\:currencySelect_input-button:hover {
  background-color: #dd586b;
  border: none; }

/* Your booking */
.ui-title {
  display: block !important;
  text-transform: uppercase; }

.rb-page .rb-header {
  border-top: 0;
  padding: 10px 10px !important;
  font-size: 36px;
  text-shadow: none; }

.ui-title:before {
  content: "JSE ";
  color: #D42E46; }

#base_page\:base_header > form {
  margin-top: 10px; }

#base_page .rb-content {
  padding-top: 0; }

.rbn-yb-searchtext, #base_page\:gform {
  display: none; }

#base_page\:guest-intranet-greeting {
  font-family: "Roboto", sans-serif; }

div.ui-collapsible-heading > a > table > tbody > tr > td:nth-child(2) {
  padding-left: 1em; }

.rb-footer {
  display: none; }

@media screen and (max-width: 640px) {
  .rbn-vendor-box > div > div.ui-grid-col-3 {
    margin-bottom: 1em; }

  .ui-title {
    font-size: 24px !important;
    padding-top: 40px !important; } }
/* Ajax */
#waitImage {
  padding-top: 15px; }

/* Currency */
.cur.rb-item-rack-value,
.cur.rb-prod-rack-value {
  color: #D42E46 !important;
  font-size: 1em !important;
  margin-right: 0 !important;
  top: 0 !important; }

.cur.rb-prod-rack-value {
  margin-right: 5px !important; }

.cur.rb-prod-rack-value:before,
.cur.rb-item-rack-value:before {
  border-top: 2px solid #D42E46; }

/* Icon Update */
.fa-edit, .fa-trash-o {
  font-size: 20px !important;
  width: 24px !important;
  padding: 5px;
  background-color: #ddd;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 4px;
  text-align: center; }

.fa-edit {
  background: #333; }

.fa-edit:hover {
  background: #666666; }

.fa-trash-o {
  background: #D42E46; }

.fa-trash-o:hover {
  background: #e58391; }

a[id*=edit] {
  margin-left: 4px !important;
  margin-right: 4px !important; }

#orderForm\:guestsdt_head > tr > th:nth-child(3) {
  width: auto !important; }

/* Shadow */
.rb-guests-dt {
  border: 1px solid #ddd !important;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important; }

.ui-inputfield.ui-state-focus, .ui-widget-content .ui-inputfield.ui-state-focus, .ui-widget-header .ui-inputfield.ui-state-focus {
  -moz-box-shadow: 0 0 5px #F34C5B;
  -webkit-box-shadow: 0 0 5px #F34C5B;
  box-shadow: 0 0 5px #F34C5B; }
