/*
#base_page {
	background: #ffffff
		url('http://www.nisekotourism.com/images/uploads/homepage/wine-dine-masthead.jpg')
		repeat-x;
	background-position: 0 130px;
}
*/
.ui-header.ui-bar-inherit {
	background: #1974b0 url("https://dabb7zy6p4b0z.cloudfront.net/npb/npb_logo.png")
		no-repeat;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 40px;
	border-top: 12px solid #1e2426;
	border-bottom: 1px solid #5a5a5b;
}

.ui-title {
	visibility: hidden;
}

.ui-panel-m-titlebar {
	background: #1e2426 !important;
	color: #ffffff !important;
	text-shadow: none !important;
}

div.ui-footer.ui-bar-inherit {
	background: transparent;
	border: none;
	color: #ddd;
	text-shadow: none;
}

/* Date Emphasis */
#base_page\:selectvendorform\:selectionDate_input,
#base_page\:neworderform\:checkin_input {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

/* Spacing */
@media(min-width: 560px) {
#base_page\:selectvendorform\:controlsGrid > div.ui-block-a {
	padding: 0 5px 0 0 !important;
	width: 50%;
	}
#base_page\:selectvendorform\:controlsGrid > div.ui-block-b {
	padding: 0 0 0 5px !important;
	width: 50%;
}

#base_page\:selectvendorform\:selectionDate_input {
	padding-top: 10px;
	padding-bottom: 10px;
}
