:root {
  --primary-color: grey;
  --accent-color: black;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
   margin-right: 1rem;
   width: 120px;
   height: 62px;
   background: url(https://dabb7zy6p4b0z.cloudfront.net/elizabeth/Elizabeth_Logo_trans-300x138.png);
   background-size: contain;
   background-repeat: no-repeat;
   background-position: center center;
}
