/* Clean up text-shadow */
* {
	text-shadow: none !important;
	-webkit-transition: all 0.1s ease-out;
	-moz-transition: all 0.1s ease-out;
	-o-transition: all 0.1s ease-out;
	transition: all 0.1s ease-out;
}

/* Main background color */
.ui-page {
  background-color: #eeee;
  border: none !important;
}

/* Remove vendor banner title */
.ui-header.ui-bar-inherit h1.ui-title, #base_page\3a bpayForm\3a tabview\3a quickbookingtable_head{
  display:none !important;
}

/* Custom banner */
.ui-header.ui-bar-inherit {
  background-image: url('https://roomboss.github.io/css/snownflow/snf_banner.jpg');
  background-repeat: no-repeat;
  background-position: 50% 85%;
	background-size: cover;
	background-color: #eeee !important;
	border: none;
  height:350px;
}

/* Remove vendor headers */
.rb-content > table:nth-child(2) {
  display: none;
}

/* Clean up language and currency buttons */
[id*="languageSelect"] .ui-select, [id*="currencySelect"] .ui-select {
  margin-top: 1em;
}
/* Button styles */
.ui-select [id*="languageSelect"], .ui-btn[id*="saveorderbutt"] {
	background-color: #af9453 !important;;
	color: #fff !important;
}
.ui-btn[id*="booknpay"] {
	background-color: #071f4e !important;
	color: #fff !important;
}
.ui-btn[id*="booknpay"]:hover,
.ui-btn[id*="saveorderbutt"]:hover {
	opacity: 0.90;
}

/* Hide currency */
[id*="currencySelect"] {
	display: none;
}

/* Filter Languages */
[value*="ko"], [value*="fr"], [value*="ja"] {
	display: none;
}

/*  Fix table outlines */
.ui-table {
  border: 1px solid #ddd;
}

/* Datepicker padding fix */
div.ui-block-b:nth-child(2) {
  padding-top: 0;
  padding-bottom: 0.5em;
}
/* Date emphasis */
#base_page\:neworderform\:checkin_input {
	border-radius: 5px;
	text-align: center;
	border: 3px solid #071f4e;
	font-weight: bold;
}
tr.ui-table-row:nth-child(7) > td:nth-child(2) {
	text-align:center;
	padding-right: 2em;
}

/* Default datepicker tweaks (see My Order section) */
.hasDatepicker {
  border: 1px solid #ddd;
  padding-left: 0.25em;
}
/* Date picker align */
#base_page\:neworderform\:checkin_input, #base_page\:neworderform\:orderItemTable\:0\:checkin_input {
  text-align: center;
}
/* Emphasised Datepicker top + datepicker sizing */
div.ui-block-b:nth-child(2), #base_page\:neworderform\:orderItemTable\:0\:checkin {
  vertical-align: middle !important;
  border-radius: 5px !important;
}

/* ------ Panel Bars ------ */
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
  background-color: #071f4e;
  border: #071f4e;
	color: #fff
}
/* Panel spacing */
.ui-panel-m.ui-corner-all:not([id*="questions"]) {
  padding-bottom: 1em;
}

/* ------ Icons ------ */
/* General icon colour */
.ui-btn-icon-left:after, .ui-btn-icon-right:after, .ui-btn-icon-top:after, .ui-btn-icon-bottom:after, .ui-btn-icon-notext:after {
  background-color: #071f4e;
}
/* Panel icon hide border and background */
.ui-panel-m-titlebar-icon {
  border: none !important;
  text-shadow: none !important;
	background-color: transparent !important;
  box-shadow: none !important;
}
/* Does not inherit general icon colour */
.ui-panel-m-titlebar-icon::after {
  background-color: transparent !important;
}
/* ------- My Order ------ */
/* My Order Padding */
#base_page\:neworderform\:orderItemTable_data > tr:nth-child(1) > td:nth-child(even) {
	padding-top: 1em;
}
/* Add to Order product title tweaks */
#base_page\:neworderform\:cbgrid_data > tr:nth-child(n) > td:nth-child(1) {
  vertical-align: middle;
	padding-left: 1em;
}
/* My Order product title tweaks */
#base_page\:neworderform\:orderItemTable\:0\:cbgrid_data > tr:nth-child(n) > td:nth-child(1) {
	vertical-align: middle;
	padding-left: 1em;
}

/* Remove Item button sizing tweaks */
#base_page\:neworderform\:orderItemTable\:0\:remlnk {
  width: 100%;
  margin-top: 0.5em;
}

/* Mobile tweak */
@media(max-width:561px) {
#base_page\:neworderform\:newOrderItemTable *:not(img){
width: 100%;
box-sizing: border-box;
}
div.ui-block-a:nth-child(7), #base_page\:neworderform\:j_idt71 {
display: none;
  }
.pricing-div {
	padding-right: 24px;
  text-align: center !important;
  font-size: 1.5em
  }
 	/* Hide spacer */
  div.ui-block-a:nth-child(13) {
		padding-top: 0;
  }
  [src*="spacer"] {
  display: none;
}
	#base_page\:neworderform\:totaltb_data > tr:nth-child(1) > td:nth-child(2) > b:nth-child(1),
	#base_page\:neworderform\:totaltb_data > tr:nth-child(1) > td:nth-child(1) > b:nth-child(1){
	display: none;
	}
[id*="totamts"] {
	text-align: center;
	margin-top: 0;
	}
}
[id*="totalsTxt"] {
	font-weight: bold;
}

/* Mobile overflow */
.ui-datatable-tablewrapper {
  overflow: visible;
}

.hasDatepicker /* temp */ {
  /* .ui-body-inherit */
  background-color: #fff;
  border-color: #ddd;
  color: #333;
  /* .ui-input-text */
  margin: 0.5em 0;
  border-width: 1px;
  border-style: solid;
  /* .ui-shadow-inset*/
  -webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  -moz-box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  box-shadow: inset 0 1px 3px rgba(0,0,0,.2);
  /* .ui-corner-all */
  -webkit-background-clip: padding;
  background-clip: padding-box;
  /* .ui-corner-all */
  -webkit-border-radius: .3125em;
  border-radius: .3125em;
	padding: 0.4em;
}

/* Top clearance */
.ui-panel-m-content.ui-body.ui-body-inherit {
	padding-top: 0 !important;
}

/* ------ Alignment ------*/
#base_page\:neworderform\:newOrderItemTable > div:nth-child(3),
#base_page\:neworderform\:newOrderItemTable > div:nth-child(5),
#base_page\:neworderform\:newOrderItemTable > div:nth-child(11){
	padding-top: 1.2em;
}
#base_page\:neworderform\:newOrderItemTable > div:nth-child(1),
#base_page\:neworderform\:newOrderItemTable > div:nth-child(9){
	padding-top: 1em;
}
/* Pricing */
.pricing-div {
  margin: 1em 0 1em 0;
}
/* Pricing padding */
div.ui-block-a:nth-child(9) {
	padding-top: 0;
}

/* Description spacing */
#base_page\:neworderform\:productPanel {
	padding-bottom: 1em;
}
#base_page\:neworderform\:productMenu > div:nth-child(1) {
	margin-bottom: 1em;
}

/* ------ Custom ------ */
#base_page\:neworderform\:customerTable\:j_idt98 > span:nth-child(1),
#base_page\:neworderform\:customIdTable\:j_idt102 > span:nth-child(1),
#base_page\:neworderform\:questionsPanel > div:nth-child(1) > h3:nth-child(1) {
	display: none;
}
/* Tel */
#base_page\:neworderform\:customerTable\:j_idt98:after {
	content: "Contact ID / # / Method";
}
/* Ref */
#base_page\:neworderform\:customIdTable\:j_idt102:after {
	content: "Where did you hear about Snow and Flow Snowsports School?";
}
/* Req */
#base_page\:neworderform\:questionsPanel > div:nth-child(1):before {
	content: "What are your ski / snowboard experience and lesson goals?";
}
/* -- Mobile -- */
@media(max-width:561px) {
#base_page\:neworderform\:customerTable_data > tr:nth-child(1) > td:nth-child(4) > b:nth-child(1),
#base_page\:neworderform\:customIdTable_data > tr:nth-child(1) > td:nth-child(1) > b:nth-child(1){
	display: none;
}
#base_page\:neworderform\:customerTable_data > tr:nth-child(1) > td:nth-child(4):before {
	content: "Contact ID / # / Method";
	font-weight: bold;
}
#base_page\:neworderform\:customIdTable_data > tr:nth-child(1) > td:nth-child(1):before {
	content: "Where did you hear about Snow and Flow Snowsports School?";
	font-weight: bold;
}
}
