.ui-header.ui-bar-inherit {
	background: #1e2426 url("https://dabb7zy6p4b0z.cloudfront.net/annupurilodge/fp-logo-full1.png")
		no-repeat;
	background-position: center;
	padding-top: 80px;
	padding-bottom: 65px;
	border-top: 1px solid #1e2426;
	border-bottom: 1px solid #1e2426;
}

.ui-title {
	visibility: hidden;
}

.ui-panel-m-titlebar {
	background: #1e2426 !important;
	color: #ffffff !important;
	text-shadow: none !important;
}

div.ui-footer.ui-bar-inherit {
	background: transparent;
	border: none;
	color: #ddd;
	text-shadow: none;
}
