@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');
/* --- Global Settings--- */
body, a, .ui-btn {
    font-family: "Quicksand", Sans-serif !important;
}

/* Change input highlight colours */
.ui-page-theme-a .ui-btn:focus,html .ui-bar-a .ui-btn:focus,html .ui-body-a .ui-btn:focus,html body .ui-group-theme-a .ui-btn:focus,html head+body .ui-btn.ui-btn-a:focus,.ui-page-theme-a .ui-focus,html .ui-bar-a .ui-focus,html .ui-body-a .ui-focus,html body .ui-group-theme-a .ui-focus,html head+body .ui-btn-a.ui-focus,html head+body .ui-body-a.ui-focus{
    box-shadow: inset 0 0 4px #aaa !important;
}
/* --- Header & Banner Settings --- */

/* Top language and currency button margin */
#base_page\:locform\:languageSelect .ui-select, #base_page\:locform\:currencySelect .ui-select {
    margin-top: 1em;
}

/* Remove Header */
.ui-title {
    display: none !important;
}

/* Remove vendor headers */
.rb-content > table:nth-child(2) {
    display: none;
}

/* Custom Banner */
.ui-header.ui-bar-inherit {
    background-image: url("https://static.wixstatic.com/media/e98e4d_8c52544e6333301a719c97754498c502.png"), url("https://static.wixstatic.com/media/e98e4d_d2b880b06d3691f6c761f54293f318aa.jpg");
    background-repeat: no-repeat;
    background-position: center, center 20%;
    background-size: 300px, cover;
    border-color: none;
    border-bottom-color: #999;
    height:150px;
    box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
/* --- Panel & Content Settings --- */

/* Panel spacing */
.ui-panel-m.ui-corner-all:not([id*="questions"]) {
    padding-bottom: 1em;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
    background-color: #494d50;
    font-size: 110%;
    color: #fff;
    border: #717071;
    text-shadow: none;
}
/* --- Icon Settings --- */

/* Panel icon hide border and background */
.ui-panel-m-titlebar-icon {
    border: none !important;
    text-shadow: none !important;
    background-color: transparent !important;
    box-shadow: none !important;
}

/* Does not inherit general icon colour */
.ui-panel-m-titlebar-icon::after {
    background-color: transparent !important;
}
/* --- Button Settings --- */

/* Primary button colours (Add item / Send Inquiry) */
button#base_page\:neworderform\:addItemsLink,
button#base_page\:neworderform\:saveorderbutt{
    background-color: #969696 !important;
    color: #fff !important;
    text-shadow: none !important;
    border-color: #ddd;
}
button#base_page\:neworderform\:addItemsLink:hover,
button#base_page\:neworderform\:saveorderbutt:hover{
    background-color: #a2a2a2 !important;
}

/* Secondary button colours (Book and Pay) */
button#base_page\:neworderform\:booknpay,
button#base_page\:neworderform\:reservationConditionButt {
    background-color: #333333 !important;
    color: #fff !important;
    text-shadow: none !important;
}
button#base_page\:neworderform\:booknpay:hover,
button#base_page\:neworderform\:reservationConditionButt:hover {
    background-color: #484c4f !important;
}

/* Fix remove item button */
.remove-item-control.ui-btn-inline {
    color: #888;
    margin-top: 0.5em;
    width: 100%
}
.remove-item-control.ui-btn-inline:after {
    background-color: #888;
}
