@import url("https://use.typekit.net/gqa4eoo.css");
.rb-header {
  -webkit-box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2);
}

/* Dialog close icon hotfix */
.ui-dialog-titlebar-close {
  padding: 1px !important;
  margin: 1px !important;
}

/* Main headers */
.rb-parent-cat-title, .rb-child-cat-title, .rb-prod-title, .rb-basket-title, .rb-basket-title-pg, .rb-checkout-title {
  font-size: 28px;
}

.rb-prod-desc-item:nth-child(1) label {
  font-family: "industry", sans-serif;
  color: #477dca;
}

.rb-prod-desc-item:nth-child(2) label {
  font-family: "proxima-nova", sans-serif;
}

.rb-body-content {
  max-width: 1400px;
}

.ui-wizard-content {
  margin: 12px 0;
}

#base_page\:base_header {
  height: 150px !important;
}

#base_page\:locform {
  margin-top: 10px;
}

.ui-collapsible-heading .ui-btn {
  background: #477dca !important;
  transition: ease-in-out 0.2s;
  text-shadow: none !important;
  color: #ffffff;
}

.ui-collapsible-heading .ui-btn:hover {
  background: #3264ac !important;
  color: #ffffff;
}

[id*="base_page:tabview:i"] {
  display: none;
}

* {
  font-family: "proxima-nova", sans-serif;
}

.rb-header {
  background-image: url("https://d2smd08xgped62.cloudfront.net/logos/explore-transfers-tours.svg?mtime=20190528104539");
  background-color: #98ca4e !important;
  background-repeat: no-repeat;
  background-position: center 20px;
  background-size: 250px;
  border: none;
  height: 110px !important;
  border-bottom: 12px solid #477dca;
}

@media (max-width: 780px) {
  .rb-header {
    height: 140px !important;
    background-position: center 75%;
  }
}
@media (max-width: 360px) {
  .rb-header {
    height: 120px !important;
    background-size: 230px !important;
  }
}
.rb-header-title {
  display: none;
}

.rb-header-title {
  font-family: "industry", sans-serif;
}

/* Custom Headers */
.rb-vendor-text, .rb-parent-cat-title > *, .rb-child-cat-title > *, .rb-prod-title > *, .rb-basket-title > *, .rb-basket-title-pg > *, .rb-checkout-title, .rb-my-booking-title > *, .rb-my-group-title > *, .ui-dialog-title, #orderForm\:existglbl, #orderForm\:newguestlbl, #orderForm\:contactinfolbl, #orderForm\:addqlbl, #orderForm\:foremlblnew, #guestDialogForm\:foremlbledit, #orderForm\:welclbl, #orderForm\:foremlbl, h3 {
  color: #1d1d1d;
  text-transform: uppercase;
  font-family: "industry", sans-serif !important;
}

/*Custom Icons */
.rb-vendor-text:before,
.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before,
.rb-checkout-title:before {
  color: #98CA4D;
}

/* Sel item highlight */
.rb-vendor-container .rb-vendor-sel a img, .rb-parent-cat-container .rb-parent-cat-sel a img, .rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a, .rb-child-cat-container .rb-child-cat-sel a img, .rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  -webkit-box-shadow: 0 0 0px 6px #477dca;
  box-shadow: 0 0 0px 6px #477dca;
}

/* Lighter Desc Font */
.rb-vendor-desc,
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
}

/* Hide Icon */
.rb-parent-cat-desc:before {
  display: none;
}

#orderForm\:addbskpg > tbody:nth-child(1) > tr:nth-child(1) {
  text-align: left;
}

#orderForm\:stdtlbl,
#orderForm\:grosslbl {
  margin-left: 8px;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #1d1d1d;
  box-shadow: 2px -1 -1 #1d1d1d, -2px -1 -1 #1d1d1d;
}

/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #477dca !important;
  background-color: #98ca4e !important;
}

.ui-dialog-title {
  color: #333 !important;
}

#orderForm\:booknow,
#orderForm\:booknowcond {
  background-color: #c6e29c !important;
  border: 1px solid #c6e29c !important;
  color: #98ca4e !important;
}

#orderForm\:booknow:hover,
#orderForm\:booknowcond:hover {
  background-color: #afd675 !important;
  border: 1px solid #afd675 !important;
  color: #98ca4e !important;
}

/* Custom Button Font */
.ui-button-text {
  font-family: "proxima-nova", sans-serif !important;
}

/* Custom Button Font */
/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #1d1d1d;
}

.ui-widget-content .ui-state-highlight {
  background: #98ca4e;
}

/* CHECKOUT */
.rb-checkout-title:before {
  content: "";
  margin-right: 10px;
  font-family: "FontAwesome" !important;
}

/* Default Buttons */
.ui-button.ui-widget.ui-state-default {
  background-color: #477dca;
  border-color: #477dca;
  color: #fff !important;
}

.ui-button.ui-widget.ui-state-hover,
.ui-button.ui-widget.ui-state-active {
  background-color: #6f99d5;
  border-color: #6f99d5;
}

.ui-button {
  text-transform: capitalized;
}

.ui-header.ui-bar-inherit {
  border-bottom: 12px solid #477dca;
}

.ui-title {
  display: none !important;
}

/* Panels*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.ui-btn .ui-panel-collapsible-heading-toggle,
.ui-icon-minus:after, .ui-icon-plus:after {
  background-color: #98ca4e;
  border: none;
  color: #fff;
  text-shadow: none;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit:hover,
.ui-btn .ui-panel-collapsible-heading-toggle:hover {
  background-color: #373737;
}

/* Buttons */
#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow,
#base_page\:locform\:languageSelect_input-button, #base_page\:locform\:currencySelect_input-button {
  background-color: #477dca;
  border: none;
  color: #fff !important;
  text-shadow: none !important;
}

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover,
#base_page\:locform\:languageSelect_input-button:hover, #base_page\:locform\:currencySelect_input-button:hover {
  background-color: #6f99d5;
  border: none;
}
