@charset "UTF-8";
/* Your Booking */
/* Custom */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
.rb-cat-desc {
  padding-top: 1em;
}

.rb-header {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

#locform\:languageSelect {
  display: none;
}

html[lang=ja] #orderForm\:address2pgnew,
html[lang=ja] #orderForm\:statepgnew {
  display: flex !important;
}

#orderForm\:newguesttxt {
  display: none;
}

#orderForm\:newguestpg > div > div:nth-child(2):after {
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  max-width: 420px;
  display: block;
  margin: auto;
  content: "Please enter the information of applicant. (If the participant is minor, please enter the details of the guardian.) Participant details will be added on the checkout page.";
}

html[lang=ja] #orderForm\:newguestpg > div > div:nth-child(2):after {
  content: "申込者の情報を入力してください（参加者が未成年の場合は、保護者の情報を入力）。参加者の情報はこの後入力していただきます。";
}

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover,
#base_page\:locform\:languageSelect_input-button:hover, #base_page\:locform\:currencySelect_input-button:hover {
  background-color: #f48551;
  border: none;
}

/* Hide dietary / medical */
.rb-guest-for-emergencies,
.rb-guest-for-emergencies > div:nth-child(2),
.rb-guest-for-emergencies > div:nth-child(3) {
  display: none !important;
}

/* Email message */
html[lang=ja] #orderForm\:newguestpg > div > div.p-col-6.p-offset-3.rb-new-guest-form > div.rb-guest-basic-information > div:nth-child(4):after {
  content: "携帯電話のキャリアメール（@docomo.ne.jp、@ezweb.ne.jp 、@softbank.ne.jp、@i.softbank.jpなど）でのご注文は、メールが届かないケースが多くなっております。ドメイン指定をされている場合は、弊社からのメールが受信できるように@roomboss.netを受信指定するか、キャリアメール以外のアドレスをご登録ください。";
  color: #444;
  font-size: 0.6em;
  max-width: calc(400px + .5em);
  padding: 1em 0 0 0.75em;
  text-align: left;
}

@media screen and (max-width: 820px) {
  html[lang=ja] #orderForm\:newguestpg > div > div.p-col-6.p-offset-3.rb-new-guest-form > div.rb-guest-basic-information > div:nth-child(4):after {
    padding: 1em 1em 1em 1.5em;
    text-align: center;
  }
}
/*** Sign in replacement ***/
/* Title */
div.rb-guest-basic-information > div:nth-child(1),
div.rb-guest-for-emergencies > div:nth-child(2) {
  display: none;
}

/**** Address Order ***/
.rb-guest-basic-information {
  display: flex;
  flex-direction: column;
}

.rb-guest-basic-information > .flex-container {
  order: 1;
}

html[lang=ja] [id*=statepg] {
  order: 3;
}

html[lang=ja] [id*=statepg],
[id*=postcodepg] {
  display: none !important;
}

[id*=citypg] {
  display: none !important;
}

[id*=address1pg] {
  display: none !important;
}

html[lang=ja] [id*=address2pg] {
  order: 6;
}

html[lang=en] [id*=address2pg] {
  display: none !important;
}

/* Half-width */
html[lang=ja] [id*=fnmslbl]:after,
html[lang=ja] [id*=lnmlbl]:after,
html[lang=ja] [for*=lnmlbl]:after {
  content: " （漢字）";
}

/* Address replacement */
html[lang=ja] [id*=citylbl], html[lang=ja] [id*=address1lbl], html[lang=ja] [id*=address2lbl] {
  display: none;
}

html[lang=ja] [id*=citypg] > .flex-item:first-of-type:after {
  content: "市町村";
}

html[lang=ja] [id*=address2pg] > .flex-item:first-of-type:before {
  content: "姓名（カナ）";
}

/**** Address Order ***/
.rb-guest-basic-information {
  display: flex;
  flex-direction: column;
}

html[lang=ja] .rb-guest-basic-information > div:nth-child(2) {
  order: 0;
}

html[lang=ja] .rb-guest-basic-information > div:nth-child(3) {
  order: 0;
}

html[lang=ja] [id*=address2pg] {
  order: 0;
}

.rb-guest-basic-information > div:nth-child(15) {
  order: 4;
}

/* Custom Step */
.rb-my-group-title, .rb-my-booking-title {
  display: none;
}

html[lang=en] .rb-my-group > div:after {
  content: "Step 1: Add guests to your group.";
  font-weight: 700;
}

html[lang=en] .rb-my-booking > div:after {
  content: "Step 2: Assign group members to their lesson.";
  font-weight: 700;
}

html[lang=ja] .rb-my-group > div:after {
  content: "ステップ１：レッスンに参加するメンバーをグループに追加します。";
  font-weight: 700;
}

html[lang=ja] .rb-my-booking > div:after {
  content: "ステップ２：レッスンにグループメンバーを割り当てます。";
  font-weight: 700;
}

/* Group Focus */
[id*=newguestbut] {
  background: #f16421;
  padding: 6px 10px;
  border-radius: 4px;
  color: #fff !important;
  text-decoration: none !important;
  font-weight: 700;
  display: block;
  min-width: 200px;
  max-width: 240px;
  position: relative;
  margin: 6px auto 0;
  transition: ease-in-out 0.2s;
}

[id*=newguestbut]:hover {
  background: #f48551;
}

#orderForm\:guestsdt_data > tr.ui-datatable-summaryrow.ui-widget-header > td:nth-child(1) {
  overflow: visible;
}

/* Edit group */
#guestDialogForm div:not(.rb-edit-lead-guest-dialog) > div > .rb-guest-basic-information > div:nth-child(4),
#guestDialogForm div:not(.rb-edit-lead-guest-dialog) > div > .rb-guest-basic-information > div:nth-child(5),
#guestDialogForm div:not(.rb-edit-lead-guest-dialog) > div > .rb-guest-basic-information > div:nth-child(8),
#guestDialogForm div:not(.rb-edit-lead-guest-dialog) > div > .rb-guest-basic-information > .rb-state {
  display: none;
}

.rb-my-group,
.rb-my-booking {
  font-size: 24px;
}

[id*=newguestbut] {
  font-size: 17px;
}

.rb-guest-sel-item > div {
  border: 3px solid #f16421 !important;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

.rb-header {
  background-image: url("https://www.kiroro.co.jp/wp-content/themes/kiroro/images/logo_kiroro@2x.png");
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 150px;
  border: none;
  height: 150px !important;
  border-bottom: 0;
}

.rb-header-title {
  display: none;
}

.rb-header-title {
  font-family: "Playfair Display SC", display;
}

/* Custom Headers */
.rb-vendor-text, .rb-parent-cat-title > *, .rb-child-cat-title > *, .rb-prod-title > *, .rb-basket-title > *, .rb-basket-title-pg > *, .rb-checkout-title, .rb-my-booking-title > *, .rb-my-group-title > *, .ui-dialog-title, #orderForm\:existglbl, #orderForm\:newguestlbl, #orderForm\:contactinfolbl, #orderForm\:addqlbl, #orderForm\:foremlblnew, #guestDialogForm\:foremlbledit, #orderForm\:welclbl, #orderForm\:foremlbl, h3 {
  color: #333;
  text-transform: none;
}

/*Custom Icons */
.rb-vendor-text:before,
.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before,
.rb-checkout-title:before {
  color: #f16421;
}

/* Sel item highlight */
.rb-vendor-container .rb-vendor-sel a img, .rb-parent-cat-container .rb-parent-cat-sel a img, .rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a, .rb-child-cat-container .rb-child-cat-sel a img, .rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  -webkit-box-shadow: 0 0 0px 6px #666;
  box-shadow: 0 0 0px 6px #666;
}

/* Lighter Desc Font */
.rb-vendor-desc,
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
}

/* Hide Icon */
.rb-parent-cat-desc:before {
  display: none;
}

#orderForm\:addbskpg > tbody:nth-child(1) > tr:nth-child(1) {
  text-align: left;
}

#orderForm\:stdtlbl,
#orderForm\:grosslbl {
  margin-left: 8px;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #333;
  box-shadow: 2px -1 -1 #333, -2px -1 -1 #333;
}

/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #fff !important;
  background-color: #777777 !important;
}

.ui-dialog-title {
  color: #fff !important;
}

#orderForm\:booknow,
#orderForm\:booknowcond {
  background-color: #f16421 !important;
  border: 1px solid #f16421 !important;
  color: #fff !important;
}

#orderForm\:booknow:hover,
#orderForm\:booknowcond:hover {
  background-color: #d24d0d !important;
  border: 1px solid #d24d0d !important;
  color: #fff !important;
}

/* Custom Button Font */
.ui-button-text {
  font-family: "Noto Sans JP", sans-serif !important;
}

/* Custom Button Font */
/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #333;
}

.ui-widget-content .ui-state-highlight {
  background: #f16421;
}

/* CHECKOUT */
.rb-checkout-title:before {
  content: "";
  margin-right: 10px;
  font-family: "FontAwesome" !important;
}

/* Default Buttons */
.ui-button.ui-widget.ui-state-default {
  background-color: #f16421;
  border-color: #f16421;
  color: #fff !important;
}

.ui-button.ui-widget.ui-state-hover,
.ui-button.ui-widget.ui-state-active {
  background-color: #f48551;
  border-color: #f48551;
}

.ui-button {
  text-transform: uppercase;
}

.ui-header.ui-bar-inherit {
  border-bottom: 0;
}

.ui-title {
  display: none !important;
}

/* Panels*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.ui-btn .ui-panel-collapsible-heading-toggle,
.ui-icon-minus:after, .ui-icon-plus:after {
  background-color: #f16421;
  border: none;
  color: #fff;
  text-shadow: none;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit:hover,
.ui-btn .ui-panel-collapsible-heading-toggle:hover {
  background-color: #4d4d4d;
}

/* Buttons */
#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow,
#base_page\:locform\:languageSelect_input-button, #base_page\:locform\:currencySelect_input-button {
  background-color: #f16421;
  border: none;
  color: #fff !important;
  text-shadow: none !important;
}

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover,
#base_page\:locform\:languageSelect_input-button:hover, #base_page\:locform\:currencySelect_input-button:hover {
  background-color: #f48551;
  border: none;
}
