/* CSS for Spicy Rentals Early Bird Specials */

.ui-header.ui-bar-inherit{
    background: url(https://dabb7zy6p4b0z.cloudfront.net/spicy/logo02.svg) no-repeat left, url(https://dabb7zy6p4b0z.cloudfront.net/spicy/oline.png) no-repeat;
    background-color: #de4313;
    background-position: 10px, 0;
    background-size: 180px, 5000px;
    height: 50px;
    padding: 20px 0 50px;
	border: 0;
}

.ui-btn:after {
    background-color: #de4313;
}

.ui-btn-right {
	top: 0;
	right: .2em;
}

/*remove title*/
.ui-header.ui-bar-inherit h1.ui-title{
	display:none;
}


#base_page > div.ui-content > table > tbody > tr > td:nth-child(1){
	display:none;
}

#base_page > div.ui-content > table > tbody > tr > td:nth-child(2){
	display:none;
}
