.ui-content {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#main\:surveyForm\:messages {
    background: url(https://roomboss.github.io/css/survey/peak_banner_2000.jpg) 10% no-repeat;
    height: 250px;
}
