.ui-content {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

#main\:surveyForm\:messages {
    background: url(https://roomboss.github.io/css/survey/peak_banner_2000.jpg) 10% no-repeat;
    height: 250px;
}

#main\:surveyForm\:submitButton {
    background-color: #3388CC !important;
    color: white;
    text-shadow: none;
    border: none;
    border-radius: 5px;
    /*+box-shadow: #6A6A6A;*/
    -moz-box-shadow: #6A6A6A;
    -webkit-box-shadow: #6A6A6A;
    box-shadow:#6A6A6A;
    font-weight: bold;
}

.ui-radio-on {
	background-color: #3D89C4 !important;
	color: white !important;
	text-shadow: none !important;
	border: none !important;
	border-radius: 0px;
}


.ui-checkbox .ui-btn, .ui-radio .ui-btn {
    background-color: #EEBF5D;
    border: none;
    text-shadow: none;
}

.ui-checkbox .ui-btn, .ui-radio .ui-btn:hover {
    background-color: #EAC67A;
    border: none;
    text-shadow: none;
}

.ui-radio .ui-btn.ui-radio-on:after
{
	background-color: rgba(0, 0, 0, 0.5) !important;
	border-color: rgba(0, 0, 0, 0.0) !important;
}


.ui-header, .ui-footer4 {
    background-color: #3D89C4 !important;
    border: none;
}

.ui-header .ui-title, .ui-footer .ui-title {
    color: #FFFFFF;
    text-shadow: none;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
}

.ui-bar, .ui-body {
    font-weight: normal;
    color: #E43535;
    text-shadow: none !important;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    font-style: normal;
    border: none !important;
}

.ui-field-contain {
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    color: #333333;
}

/*Header buttons*/
.ui-header .ui-btn, .ui-footer .ui-btn {
    background-color: #EEBF5D !important;
    text-shadow: none;
    border: none;
    color:666666;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

.ui-header .ui-btn, .ui-footer .ui-btn:hover {
    background-color: #EAC67A;
    text-shadow: none !important;
}

/*Type*/
P {
    font-family: 'Open Sans', sans-serif;
}
