/*css for Hakuba valley chalets http://valleychalets.bookfast.jp/ */

/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*hide vendor description and image bpay*/
#base_page\:descPanel{
	display: none;
	visibility: hidden;
}

/*hide vendor name and contact yourbooking*/
#base_page\:postab{
	display: none;
	visibility: hidden;
}

/*add logo, blue and green bars*/
.ui-header.ui-bar-inherit {
	height: 325px;
    	background-size: 300px, cover;
    	border-bottom-width: 0px;
}
/*page color*/
body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
 	background: #e0dfd7!important;
}

/*color and square search button*/
#base_page\:bpayForm\:tabview\:searchButton{
	background-color: #63b962!important;
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*square date select and drop downs*/
#base_page\:bpayForm\:tabview\:guests_input-button, #base_page\:bpayForm\:tabview\:nnights_input-button{
	background-color: #63b962!important;
	/*color: #1abc9c;*/
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*color and square titlebars*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: #63b962;
	color: #0f9bbc;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}


/*Available Accommodation Options*/
.ui-panel-m.ui-corner-all.rbn-offers-panel.ui-hidden-container div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
	background-color: white!important;
    	color: #63b962;
   	text-shadow: none;
   	border-bottom-width: 2px;
    	border-color: #0f9bbc;    
    	border-bottom-style: inset;  	
}



/*expanadble areas on bpay and yourbooking*/
.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-icon-minus{
	background-color: white;
	color: #63b962;
	text-shadow: none; 
	border-color: #0f9bbc;
	border-radius: 0px;
	border-width: 2px;
}

.ui-collapsible-heading-toggle.ui-btn.ui-btn-icon-left.ui-icon-plus{
	background-color: white;
	color: #63b962;
	text-shadow: none; 
	border-color: #0f9bbc;
	border-radius: 0px; 
	border-width: 2px;
}

/*your booking page footer*/
.ui-footer.ui-bar-inherit{
	background-color: #63b962!important;
	color: white!important;
	text-shadow: none!important;
	border:none!important;
}

/*your booking bars*/
#base_page\3a postab_head > tr, #base_page\3a ttab_head > tr{
	background-color: #63b962;
	color: white;
	text-shadow: none; 
	border: none;
	border-radius: 0px;   	
}

/*Your Booking non conf Red*/
.rb-notconfbook {
    color: red;
    text-transform: uppercase;
    font-weight: bold;
}
