.ui-header.ui-bar-inherit {
	background: #1974b0 url("http://www.sekkalodge.com/assets/img/hero.jpg")
		no-repeat;
	background-position: center;
	padding-top: 50px;
	padding-bottom: 40px;
	border-top: 12px solid #1e2426;
	border-bottom: 1px solid #5a5a5b;
}

.ui-title {
	background: #1974b0 url("http://www.sekkalodge.com/assets/img/logo.png")
		no-repeat;
}

.ui-panel-m-titlebar {
	background: #1e2426 !important;
	color: #ffffff !important;
	text-shadow: none !important;
}

div.ui-footer.ui-bar-inherit {
	background: transparent;
	border: none;
	color: #ddd;
	text-shadow: none;
}
