/*for formatting on eg https://theluxenomad.bookfast.jp/cw/insert/sigcal.jsf?cid=2c98902a5c607e01015c6685f4e42658&pid=2c98902a62dfce4f0162e162c1f1332d*/

/*can check in or out green*/
.ui-datepicker .ui-datepicker-calendar .ui-state-default{ 
  background-color: #98E65F; /*#F89494;*/
  color:black;
  border-radius:45px
}

/*unavailable grey*/
.ui-datepicker .ui-datepicker-calendar .rbn-not-avail{ 
  background-color: #D1CFCF; /*#F89494;*/
  color:black;
  border-radius:45px; 
}

/*no check in green to grey*/
.ui-datepicker .ui-datepicker-calendar .rbn-not-avail-clickable{
  background-image: linear-gradient(to bottom right, #98E65F, #D1CFCF);
  /*background-color: blue; #F89494;*/
  color:black;
  border-radius:45px
}

