/*for formatting on eg https://theluxenomad.bookfast.jp/cw/insert/sigcal.jsf?cid=2c98902a5c607e01015c6685f4e42658&pid=2c98902a62dfce4f0162e162c1f1332d*/
/*unavailable grey*/
.rbn-not-avail{ 
  background-color: #E0E0E0; /*#F89494;*/
  color:black;
  border-radius:45px; 
}

/*can check in or out*/
.ui-datepicker.ui-state-default{ 
  background-color: green; /*#F89494;*/
  color:black;
  border-radius:45px
}

/*no check in greenish*/
.rbn-not-avail-clickable{ 
  background-color: blue; /*#F89494;*/
  color:black;
  border-radius:45px
}
