@import url(https://fonts.googleapis.com/css?family=EB+Garamond:300,400,600,700|Open+Sans:300,400,700);
.ui-header.ui-bar-inherit {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.ui-header.ui-bar-inherit {
	background-color: #625956;
   	border-width: 0;
    	margin-bottom: 0;
    	min-height: 100px;
    	padding-top: 1em;
	background: #625956
		url("https://dabb7zy6p4b0z.cloudfront.net/theluxnomad/TLNLogo.jpg")
		no-repeat;
	background-position: 22%;
	background-size: 220px;
}

@media (max-width: 600px) {
  .rb-header:before {
    top: calc(50%);
    font-size: 18px;
  }
}
@media (max-width: 250px) {
  .rb-header:before {
    font-size: 14px;
  }

  .ui-header.ui-bar-inherit {
    height: 120px !important;
  }
}
.rb-footer:before {
  background: linear-gradient(to bottom, #f9faf9, rgba(0, 0, 0, 0)), url(https://dabb7zy6p4b0z.cloudfront.net/theluxnomad/89197823_2989960647722229_1139872122651279360_n.jpg) 50% 50% no-repeat, linear-gradient(to bottom, #f9faf9, rgba(0, 0, 0, 0));
  background-size: cover;
  height: 250px;
  display: block;
  content: "";
}

.rb-footer {
  border-top: none;
}

#base_page\:locform\:languageSelect_input-button {
display:none;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit h3, a, .ui-select div, button {
  font-weight: 400 !important;
}

#base_page\:statementExtentMenu\:currentBalance {
  font-weight: 600 !important;
}

a, .ui-select {
  text-transform: uppercase !important;
  letter-spacing: 0.125em;
}

.ui-panel-m-content.ui-body.ui-body-inherit {
  font-weight: 300;
}


.ui-panel-m-titlebar.ui-bar.ui-bar-inherit h3 {
  font-family: "EB Garamond", serif !important;
  color: #f9f9f9 !important;
  background-color :#625956;
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  text-align: center;
  width: 100%;
}

#base_page\:messagePanel ui-panel-m-titlebar ui-bar ui-bar-inherit {
  font-family: "EB Garamond", serif !important;
  font-size: 1.5rem !important;
  font-weight: 300 !important;
  background-color: #fff !important;
}

.ui-panel-m-titlebar ui-bar ui-bar-inherit {
  color: #fff !important;
  background-color:#625956!important;
  font-weight: 600 !important;
}

/* Import font */
body, .ui-collapsible-themed-content:not(.ui-collapsible-collapsed) > .ui-collapsible-heading a, .ui-collapsible-inset .ui-collapsible-heading .ui-btn {
  font-family: "Open Sans", sans-serif;
  background: #625956;
  text-shadow: none;
  color: #fff;
  -webkit-transition: ease-in-out 200ms;
  transition: ease-in-out 200ms;
}
body:hover, .ui-collapsible-themed-content:not(.ui-collapsible-collapsed) > .ui-collapsible-heading a:hover, .ui-collapsible-inset .ui-collapsible-heading .ui-btn:hover {
  background: #919191;
}



@media (max-width: 600px) {
  .ui-header.ui-bar-inherit {
    height: 104px;
    background-position: center 75%;
  }
}
/* Hide Default Header */
.ui-header.ui-bar-inherit h1.ui-title {
  display: none;
}

/* Input highlights */
.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus {
  -webkit-box-shadow: inset 0 0 4px #aaa !important;
  box-shadow: inset 0 0 4px #aaa !important;
}

/* Non-Accordion Panels */
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
  background: #625956;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  text-shadow: none;
}

.ui-body-a, .ui-page-theme-a .ui-body-inherit, html .ui-bar-a .ui-body-inherit, html .ui-body-a .ui-body-inherit, html body .ui-group-theme-a .ui-body-inherit, html .ui-panel-page-container-a {
  color: #5c5a5a !important;
}




.fa:before {
  font-weight: 400;
}

.rbn-datecontrol-button, select, .ui-btn {
  font-family: "Open Sans", sans-serif;
}
.rbn-datecontrol-button:before, select:before, .ui-btn:before {
  font-family: "FontAwesome";
}

/* Date control padding */
.ui-grid-c {
  padding: 0 4px !important;
}
.ui-grid-c .ui-block-a, .ui-grid-c .ui-block-b, .ui-grid-c .ui-block-c, .ui-grid-c .ui-block-d {
  padding: 4px 4px;
}

/* Customer form padding */
#base_page\:vform\:requestPanel > div > .ui-block-a > div > div.ui-panel-m-content {
  padding: 0;
}

#base_page\:vform\:requestPanel div.ui-input-text.ui-body-inherit.ui-corner-all.ui-shadow-inset {
  margin-top: 0.5em;
}

/* About you form padding */
#base_page\:vform\:customertable .ui-block-a {
  padding: 0.5em 0.5em 0.5em 1em;
}
@media (max-width: 560px) {
  #base_page\:vform\:customertable .ui-block-a {
    padding: 0.5em 1em;
  }
}
#base_page\:vform\:customertable .ui-block-b {
  padding: 0.5em 1em 0.5em 0.5em;
}
@media (max-width: 560px) {
  #base_page\:vform\:customertable .ui-block-b {
    padding: 0.5em 1em;
  }
}


#base_page\:locform > .ui-btn-right {
  right: -0.2em !important;
}

/* Vendor padding */
.ui-grid.ui-grid-responsive.rbn-vendor-box {
  padding: 0.5em !important;
}


[id*=date-select-pan] > div > div > .ui-block-a {
  padding-right: 0.5em;
}

[id*=date-select-pan] > div > div > .ui-block-c {
  padding-left: 0.5em;
}

/* Select Dates Mobile */
@media (max-width: 400px) {
  [id*=date-select-pan] > div > div > .ui-block-a {
    padding: 0.25em;
    width: 100%;
  }

  [id*=date-select-pan] > div > div > .ui-block-b {
    padding: 0.25em;
    width: 60%;
  }

  [id*=date-select-pan] > div > div > .ui-block-c {
    padding: 0.25em;
    width: 40%;
  }
}
.ui-page-theme-a {
  background-color: #f9f9f9;
}

#base_page\:vform\:avgridpan > div > div > .ui-grid-c .ui-btn-icon-left {
  padding-left: 1em;
}
#base_page\:vform\:avgridpan > div > div > .ui-grid-c .ui-btn-icon-left:after {
  display: none;
}

#base_page\:vform\:quickbookingtable_data > tr > td > div > div:nth-child(3) > table > tbody > tr > td {
  clear: none;
  display: table-cell;
  width: auto;
}

/* Paginator */
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active {
  background-color: #5c5a5a;
  border-color: #4f4d4d;
}

/* Gallery */
[id*=gallery] {
  width: 100% !important;
  max-width: 1100px;
  height: auto !important;
}

[id*=fadeEffectImages] {
  width: calc(100vw - 34px) !important;
  max-width: 100% !important;
  max-height: 800px !important;
  height: auto !important;
}

/* L */
@media (min-width: 1100px) {
  [id*=gallery] {
    height: 490px !important;
    max-height: 490px !important;
    min-height: 490px !important;
  }
}
/* M */
@media (min-width: 641px) {
  [id*=gallery] {
    width: 100% !important;
    min-height: 43vw;
    height: auto !important;
  }
}
/* S */
@media (max-width: 640px) {
  [id*=gallery] {
    width: 100% !important;
    min-height: 42vw;
    height: auto !important;
  }
}
.rb-page > .rb-content > div > div:nth-child(2) > .ui-collapsible-content {
  background-color: #f9f9f9;
}

/* Vendor Image */
.rbn-vendor-grid-img {
  height: 100%;
  width: 100%;
}

@media (min-width: 641px) {
  .rbn-vendor-grid-img-col {
    padding-right: 1em;
  }
}
/* Paginator */
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active {
  background-color: #663333;
  border-color: #663333;
  color: #fff !important;
}

.fa-file-excel-o.ui-btn, #base_page\:periodselectorform\:gotobutt {
  background-color: #663333 !important;
  color: #fff;
  border: none !important;
}

.fa-file-excel-o.ui-btn:hover, #base_page\:periodselectorform\:gotobutt:hover {
  background-color: #884444 !important;
}

i, b, #base_page\:statementExtentMenu\:overviewGrid .ui-block-b,
#base_page\:statementExtentMenu\:overviewPanel p,
#base_page\:statementExtentMenu\:occupiedNightsPanel p,
tbody > tr > td {
  font-weight: 400 !important;
}

tbody > tr > td li {
  font-weight: 300 !important;
}

.rbn-footer {
  display: none;
}

#base_page\:statementExtentMenu\:futureAllocationsPanel\:futureHeldDatesHeader > div.ui-collapsible-content.ui-body-inherit{
  padding:0!important;
}

#base_page\:statementExtentMenu\:futureAllocationsPanel\:futureHeldDatesHeader > div.ui-collapsible-content.ui-body-inherit > p:nth-child(1){
  display:none;
}

#base_page\:statementExtentMenu\:futureAllocationsPanel\:disclaimerNote{
  padding-left:10px;
}

#base_page\:statementExtentMenu > div.ui-navbar,
#base_page\:statementExtentMenu\:overviewPanel,
#base_page\:statementExtentMenu\:otherIncomePanel,
#base_page\:statementExtentMenu\:otherExpensesPanel,
#base_page\:statementExtentMenu\:rollingBalance1AccountPanel,
#base_page\:statementExtentMenu\:downloadForm\:j_idt718,
#base_page\:statementExtentMenu\:ownerDepositsPanel,
#base_page\:statementExtentMenu\:ownerWithdrawalsPanel,
#base_page\:statementExtentMenu\:allocTable\:0\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:0\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:1\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:1\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:2\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:2\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:3\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:3\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:4\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:4\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:5\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:5\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:6\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:6\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:7\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:7\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:8\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:8\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:9\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:9\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:10\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:10\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:11\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:11\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:12\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:12\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:13\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:13\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:14\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:14\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:15\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:15\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:16\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:16\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:17\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:17\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:18\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:18\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:19\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:19\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:20\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:20\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:21\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:21\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:22\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:22\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:23\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:23\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:24\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:24\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:25\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:25\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:26\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:26\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:27\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:27\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:28\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:28\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:29\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:29\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:30\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:30\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:31\:allocIncomeList,
#base_page\:statementExtentMenu\:allocTable\:31\:allocExpenseList,
#base_page\:statementExtentMenu\:allocTable\:j_idt598,
#base_page\:statementExtentMenu\:allocTable\:j_idt606,
#base_page\:statementExtentMenu\:allocTable_foot > tr > td:nth-child(7),
#base_page\:statementExtentMenu\:allocTable_foot > tr > td:nth-child(8),
#base_page\:statementExtentMenu\:allocTable\:0\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:1\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:2\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:3\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:4\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:5\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:6\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:7\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:8\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:9\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:10\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:11\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:12\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:13\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:14\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:15\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:16\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:17\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:18\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:19\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:20\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:21\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:22\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:23\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:24\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:25\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:26\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:27\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:28\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:29\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:30\:checkOutNotTransferredPanel,
#base_page\:statementExtentMenu\:allocTable\:31\:checkOutNotTransferredPanel
{
display:NONE;

}


#base_page\:statementExtentMenu\:allocTable\:j_idt587::before{
  content:"Gross";  
}

#base_page\:statementExtentMenu\:allocTable\:j_idt587 > span{
 display:none;
}
