:root {
  --primary-color: #3e6bb3;
  --accent-color: #3e6bb3;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
  margin-right: 1rem;  
  height: 50px;
  width: 180px;
  background: url('https://thehakubacollection.com/assets/img/logo-stay.jpg');
  background-size: contain;
}


