body/*,
.ui-collapsible-themed-content:not(.ui-collapsible-collapsed) > .ui-collapsible-heading a,
.ui-collapsible-inset .ui-collapsible-heading .ui-btn*/ {
  font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-shadow: none;
	font-size: 0.9em;
}

/*body,*/
.ui-collapsible-themed-content:not(.ui-collapsible-collapsed) > .ui-collapsible-heading a,
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
  font-family: -apple-system, BlinkMacSystemFont,  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background: #3e6bb3;
  text-shadow: none;
	font-size: 0.9em;
}

.ui-header.ui-bar-inherit {	
  background: white url('https://thehakubacollection.com/assets/img/logo-stay.jpg') no-repeat center;
  background-size: 270px;
  border: none;
  height: 72px;
	padding: 30px 0;
	    
}

.rb-header-title {
  background: white url('https://thehakubacollection.com/assets/img/logo-stay.jpg') no-repeat center;
  background-size: 270px;
  border: none;
  height: 72px;
	padding: 30px 0;
	font-size: 0;
}

.ui-header.ui-bar-inherit h1.ui-title {
  display: none;
}

.ui-page-theme-a .ui-btn:focus, html .ui-bar-a .ui-btn:focus, html .ui-body-a .ui-btn:focus, html body .ui-group-theme-a .ui-btn:focus, html head + body .ui-btn.ui-btn-a:focus, .ui-page-theme-a .ui-focus, html .ui-bar-a .ui-focus, html .ui-body-a .ui-focus, html body .ui-group-theme-a .ui-focus, html head + body .ui-btn-a.ui-focus, html head + body .ui-body-a.ui-focus {
  box-shadow: 0 0 12px #916e2c /*{a-active-background-color}*/;
}

.rbn-filter-panel > .ui-panel-m-titlebar, .rbn-offers-panel > .ui-panel-m-titlebar {
	background: #3e6bb3;
}

/*change text on single property report - removes <p> 2 steps in from bottom*/
#base_page\3a messagePanel > div.ui-panel-m-content.ui-body.ui-body-inherit > p:nth-last-child(2){
	display: none!important;
}

#base_page\3a messagePanel > div.ui-panel-m-content.ui-body.ui-body-inherit:after{
	display: block;
	white-space: pre;
	content: 'Best regards, \A The Hakuba Collection Owner Services';

}

/*change text on multi property report - removes <p> 2 steps in from bottom*/
#base_page\3a messagePanel2 > div.ui-panel-m-content.ui-body.ui-body-inherit > p:nth-last-child(2){
	display: none;
}

#base_page\3a messagePanel2 > div.ui-panel-m-content.ui-body.ui-body-inherit:after{
	display: block;
	white-space: pre;
	content: 'Best regards, \A The Hakuba Collection Owner Services';

}

.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head+body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
	background: #919eab;
}stay.css

.body > div.rb-body-content > div.sq-payment-form > img{
	width: 0px;
}

#body > div.rb-body-content > div.sq-payment-form > img :after{
	content: url('dabb7zy6p4b0z.cloudfront.net/bluebirdhakuba/cclogos.jpg');
  	width: 70px;	
}
