
/*page white and font*/
body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: 'Droid Serif', serif!important;
	font-weight: 100;
 	background: white!important;
	color: black;
	text-shadow: none;
}


.ui-header.ui-bar-inherit {
    background-color: #e96656;
    border-color: #DDD;
    color: #fff;
    text-shadow: none;   
    background: url('https://roomboss.github.io/css/kaguramc/DSC_9926_HDR-copy.jpg') no-repeat center;
    background-size: cover;
    height: 320px;
    line-height: 1.4em;    
}
