/* Your Booking */
/* Custom */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
.rb-cat-desc {
  padding-top: 1em; }

.rb-header {
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1); }

* {
  font-family: "Noto Sans JP", sans-serif; }

.rb-header {
  background-image: url("https://nisekoclassic.com/assets/svg/niseko-classic-logo-white.svg"), url("https://d3kmq6thb9m3lf.cloudfront.net/general/_1400x900_crop_center-center_100_none/2020-hero-visual.jpg?mtime=20191209114405");
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-position: center center, center 25%;
  background-size: 50%, cover;
  border: none;
  height: 150px !important;
  border-bottom: 0; }

.rb-header-title {
  display: none; }

.rb-header-title {
  font-family: "Noto Sans JP", sans-serif; }

/* Custom Headers */
.rb-parent-cat-title, .rb-child-cat-title, .rb-prod-title, .rb-basket-title, .rb-checkout-title, .rb-my-booking-title, .rb-my-group-title, .ui-dialog-title, #orderForm\:existglbl, #orderForm\:newguestlbl, #orderForm\:contactinfolbl, #orderForm\:addqlbl, #orderForm\:foremlblnew, #guestDialogForm\:foremlbledit, #orderForm\:welclbl, #orderForm\:foremlbl, h3 {
  color: #333;
  text-transform: uppercase;
  font-family: "Noto Sans JP", sans-serif; }

/*Custom Icons */
.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before,
.rb-checkout-title:before {
  color: #064B76; }

/* Sel item highlight */
.rb-parent-cat-container .rb-parent-cat-sel a img, .rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a, .rb-child-cat-container .rb-child-cat-sel a img, .rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  -webkit-box-shadow: 0 0 0px 6px #3ba1af;
  box-shadow: 0 0 0px 6px #3ba1af; }

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal; }

/* Hide Icon */
.rb-parent-cat-desc:before {
  display: none; }

#orderForm\:addbskpg > tbody:nth-child(1) > tr:nth-child(1) {
  text-align: left; }

#orderForm\:stdtlbl,
#orderForm\:grosslbl {
  margin-left: 8px; }

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #064B76;
  box-shadow: 2px -1 -1 #064B76, -2px -1 -1 #064B76; }

/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #fff !important;
  background-color: #064B76 !important; }

.ui-dialog-title {
  color: #fff !important; }

#orderForm\:booknow,
#orderForm\:booknowcond {
  background-color: #3ba1af !important;
  border: 1px solid #3ba1af !important;
  color: #fff !important; }

#orderForm\:booknow:hover,
#orderForm\:booknowcond:hover {
  background-color: #2e7e89 !important;
  border: 1px solid #2e7e89 !important;
  color: #fff !important; }

/* Custom Button Font */
.ui-button-text {
  font-family: "Noto Sans JP", sans-serif !important; }

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #064B76; }

.ui-widget-content .ui-state-highlight {
  background: #3ba1af; }

/* CHECKOUT */
.rb-checkout-title:before {
  content: "\f291";
  margin-right: 10px;
  font-family: "FontAwesome" !important; }

/* Default Buttons */
.ui-button.ui-widget.ui-state-default {
  background-color: #3ba1af;
  border-color: #3ba1af;
  color: #fff !important; }

.ui-button.ui-widget.ui-state-hover,
.ui-button.ui-widget.ui-state-active {
  background-color: #57b9c6;
  border-color: #57b9c6; }

.ui-button {
  text-transform: uppercase; }

.ui-header.ui-bar-inherit {
  border-bottom: 0;
  border-top: 0; }

.ui-title {
  display: none !important; }

/* Panels*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.ui-btn .ui-panel-collapsible-heading-toggle,
.ui-icon-minus:after, .ui-icon-plus:after {
  background-color: #3ba1af;
  border: none;
  color: #fff;
  text-shadow: none; }
  .ui-panel-m-titlebar.ui-bar.ui-bar-inherit else,
  .ui-btn .ui-panel-collapsible-heading-toggle else,
  .ui-icon-minus:after else, .ui-icon-plus:after else {
    background-color: #064B76; }

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit:hover,
.ui-btn .ui-panel-collapsible-heading-toggle:hover {
  background-color: #086aa7; }

/* Buttons */
#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow,
#base_page\:locform\:languageSelect_input-button, #base_page\:locform\:currencySelect_input-button {
  background-color: #3ba1af;
  border: none;
  color: #fff !important;
  text-shadow: none !important; }

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover else,
#base_page\:locform\:languageSelect_input-button:hover else, #base_page\:locform\:currencySelect_input-button:hover else {
  background-color: #57b9c6;
  border: none; }
