/* @import url('//roomboss.github.io/css/ui/main02.css'); */

/* Remove Group Members */
.rb-my-group, .rb-my-booking, .rb-guests-pg,
#orderForm\:itemdtchkout_data > tr > td > [id*=member],
#orderForm\:itemdtchkout_data > tr > td > [id*=guestsselpg] {
  display: none;
}

/* Furigana_address2 */
.rb-guest-basic-information {
  display: flex;
  flex-direction: column; }

.rb-guest-basic-information > .flex-container {
  order: 1; }

html[lang="ja"] .rb-guest-basic-information > div:nth-child(1) {
  order: 0; }

html[lang="ja"] .rb-guest-basic-information > div:nth-child(2) {
  order: 0; }

html[lang="ja"] [id*=address2pg] {
  order: 0; }

html[lang="ja"] [id*=address2lbl] {
  display: none; }

html[lang="ja"] [id*=address2pg] > .flex-item:first-of-type:before {
  content: "フリガナ（姓名）*"; }

html[lang="en"] [id*=address2pg]{
  display: none; }

/* Custom design */

.rb-header {
  background-image: url("https://dabb7zy6p4b0z.cloudfront.net/rusutsu/logo-wh.png");
  background-repeat: no-repeat, no-repeat;
  background-size: 350px !important;
  background-position: center;
  background-color: #0f69b5 !important;
  height:150px;
}

.rb-header-title {
  display: none;
}

.rb-vendor-title,
.rb-parent-cat-title,
.rb-child-cat-title,
.rb-prod-title,
.rb-basket-title-pg,
.rb-checkout-title{
  color: #0f69b5;
}

.rb-vendor-title:before,
.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before {
  color: #9e8053;
}


/* Category Image Selected*/
.rb-parent-cat-container .rb-parent-cat-sel a img,
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a,
.rb-child-cat-container .rb-child-cat-sel a img,
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  box-shadow: 0 0 0px 6px #0f69b5;
}

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
  color: #0f69b5;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #0f69b5;
  box-shadow: 2px -1 -1 #0f69b5, -2px -1 -1 #0f69b5;
}


/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #9e8053 !important;
  background-color: #0f69b5 !important;
}

#orderForm\:booknow {
  background-color: #0f69b5
  border: 1px solid #0f69b5;
}
#orderForm\:booknow:hover {
  background-color: #9e8053;
  border: 1px solid #9e8053;
}

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: rgb(55, 93, 157);
}

/* Default Buttons */

.ui-button.ui-widget.ui-state-default {
  background-color: #9e8053;
  border-color: #9e8053;
}
.ui-button.ui-widget.ui-state-hover {
  background-color: #9e8053;
}

/* Card title*/
.rb-prod-desc-item:nth-child(1) label {
    color: #0f69b5 !important;
}

.ui-header.ui-bar-inherit h1.ui-title{
	display:none;
}
