#base_page {
	background: rgba(0, 0, 0, 0)
		url("http://www.powderhounds.com/Site/DefaultSite/Skins/powderhounds/images/background_manage.jpg")
		scroll 0px 0px;
	background-size: 100%;
	font-family: "Lato", sans-serif;
	text-shadow: none;
}

.ui-body-inherit {
	background: #fff;
}

.ui-header.ui-bar-inherit h1.ui-title {
	display: none;
}

/* Header */
.ui-header.ui-bar-inherit {
	color: #fff;
	text-shadow: none;
	text-transform: uppercase;
	background-image: url("//roomboss.github.io/css/powderhounds/logo-tagline.png"),url("http://powderhounds.com/Site/DefaultSite/Skins/powderhounds/Images/Background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, 90% 40%;
	background-size: auto, cover;
	height: 200px;
	border: none;
}
@media (max-width:800px) {
  .ui-header.ui-bar-inherit {
	background-image: url("//roomboss.github.io/css/powderhounds/logo-tagline.png"),url("http://powderhounds.com/Site/DefaultSite/Skins/powderhounds/Images/Background.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: center, 90% 40%;
		background-size: 300px, cover;
  height:200px;
}
}

.ui-collapsible-heading-toggle, .ui-panel-m-titlebar {
	background-color: #f60 !important;
	color: #ffffff !important;
	text-shadow: none !important;
}

.rbn-filter-panel.ui-hidden-container div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit
	{
	background: #c21e1d !important;
	color: #FFF !important;
}

.rbn-offers-panel.ui-hidden-container div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit
	{
	background: #c21e1d !important;
}

.rbn-vendor-panel div.ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
	
}

.rbn-more-info-button.ui-btn-inline {
	color: #fff;
	background-color: #c21e1d;
	border-radius: 3px;
	margin-left: 25px;
	transition: all 300ms ease 0s;
}

.ui-panel-m-titlebar,
.ui-panel-m-content {
	border: none !important;
}

/* Panel Spacing */
.ui-panel-m-content {
	margin-bottom: 0.5em;
}

/* Icons */
.ui-btn-icon-notext:after,
.ui-icon-carat-d:after {
	background-color: #0099CC;
}
.ui-panel-m-titlebar-icon {
	border: none;
}

/* Selector Buttons */
[id*="languageSelect"], [id*="currencySelect"]{
  color: #fff !important;
  background-color: #0099CC !important;
  border: none;
  border-radius: 20px;
	text-shadow: none !important;
}
[id*="languageSelect"] .ui-select, [id*="currencySelect"] .ui-select {
  margin-top: 1em;
}

/* Borders */
.ui-table {
  border: 1px solid #ddd;
}

/*Main buttons*/
.ui-btn {
	text-shadow: none !important;
}

[id*="addItems"],
[id*="reservationCon"] {
  color: #fff !important;
  background-color: #0099CC !important;
  border: none;
}
[id*="reservationCon"]:hover,
[id*="addItemsLink"]:hover{
  background-color: #00ace6 !important;
}

/* Datepicker */
.hasDatepicker {
  border: 1px solid #ddd;
  padding-left: 0.25em;
	text-align: center;
}
