:root {
  --primary-color: #black;
  --accent-color: #black;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
 margin-right: 1rem;  
 height: 80px;
 width: 200px;
 background: url('https://dabb7zy6p4b0z.cloudfront.net/htrp/H2-Life-Wide-Blk_jikdt5.png');
 background-size: contain;
 background-repeat: no-repeat; 
}
