/*for https://hokkaidotracks.bookfast.jp/cw/gen/ins/bpay1.jsf?vid=2c98902a57f37ae70157ff50de81451a
https://hokkaidotracks.bookfast.jp/public/yourbooking.jsf?id=415120&em=john%40test.com
https://hokkaidotracks.bookfast.jp/cw/gen/ins/ma.jsf
*/

/*remove title*/
.ui-title{
	display: none;
	visibility: hidden;
}

/*add logos*/
.ui-header.ui-bar-inherit {
	background: url(htrp-logo-sm.png) 10% 10% no-repeat;
    	height: 200px;
      	background-color: white;
    	background-size: 250px;
    	border-top-width: 0px;
	border-bottom-color: grey;
    	border-bottom-width: 2px;
}

/*page white and font*/
body, input, select, textarea, button, .ui-content, .ui-page-theme-a{
  	font-family: Yu 'Open Sans',sans-serif;
	font-weight: 100;
 	color: black;
	text-shadow: none;
}

body{
  	background: url(bg-new.jpg);
	
}

/*Fix selected buttons*/
.ui-state-disabled.rbn-gotobutt{
  	 	background:#38c!important;	
}


