@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.ui-header.ui-bar-inherit{
  background:#fff url('//roomboss.github.io/css/dpt/dpt-logo.png') no-repeat center !important;
  background-size: 310px;
  height:200px !important;
  border-bottom: 1px solid #eee !important;
  border-top: none !important;
}

@media(min-width: 768px) {
	.ui-header.ui-bar-inherit {
	background-size: 400px !important
	}
}

.ui-header.ui-bar-inherit h1.ui-title{
display:none !important;
}

.ui-overlay-a {
  background: #fff !important;
}

.ui-datagrid-content .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.rbn-margin-top .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.rb-content .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
#base_page\:resultsform\:listViewTab.ui-btn,
#base_page\:resultsform\:mapViewTab.ui-btn{
  border: 1px solid #d54b0a;
	background: #d54b0a !important;
  color: #ffffff !important;
  font-weight: bold !important;
  text-shadow:none !important;
}

.ui-btn[type*="submit"],
.ui-btn[id*="searchButton"],
.rbn-more-info-button {
	border: 1px solid #d54b0a;
  background: #d54b0a !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-shadow: none !important;
}

.ui-btn:hover, .ui-controlgroup .ui-btn:hover,
#base_page\:resultsform\:listViewTab.ui-btn-active,
#base_page\:resultsform\:mapViewTab.ui-btn-active,
#base_page\:resultsform\:listViewTab.ui-btn:hover,
#base_page\:resultsform\:mapViewTab.ui-btn:hover{
	border: 1px solid #f88429;
  background: #f88429 !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-shadow: none !important;
	transition: ease-out 0.2s !important;
}

/* Blue Calendar */
.ui-state-default.ui-btn, .ui-datepicker-next, .ui-datepicker-prev {
	border: 1px solid #2cafcb  !important;
    background: #67c9de !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-shadow: none !important;
}
.ui-state-active.ui-btn, .ui-state-hover.ui-btn {
	border: 1px solid #67c9de !important;
  background-color: #2cafcb !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-shadow: none !important;
}

/* Effects */
.ui-page-theme-a .ui-focus, .ui-page-theme-a .ui-btn:focus {
	-webkit-box-shadow: 0 0 0 0 !important;
	-moz-box-shadow: 0 0 0 0 !important;
	transition: ease-out 0.1s !important;
 }

 .ui-page-theme-a {
 	background-color: #fff !important;
 }

/* White Buttons */
#base_page\3a searchform\3a nights_input-button,
#base_page\3a searchform\3a guests_input-button,
.ui-select .ui-btn,
.ui-checkbox .ui-btn,
[id*="base_page:back"],
[id*="sortPanelGrid"] .ui-btn
{
	background-color: #fff !important;
	color: #d54b0a !important;
	border: 1px solid #ddd !important;
	text-shadow: none;
}

/* Filter Panel */
.rbn-filter-panel > .ui-panel-m-titlebar {
	background-color: #d54b0a !important;
}

#base_page\3a searchform\3a nights_input-button:after,
#base_page\3a searchform\3a guests_input-button:after,
.ui-select .ui-btn:after,
[id*="base_page:back"]:after,
.ui-panel-m-titlebar-icon
{
	background-color: #d54b0a !important;
}

/* Blue Active Hover */
.rbn-offers-panel .ui-panel-m-titlebar .ui-icon-plus:hover,
.rbn-offers-panel .ui-panel-m-titlebar .ui-icon-minus:hover,
.ui-paginator .ui-controlgroup .ui-btn{
	border: 1px solid #67c9de !important;
  background-color: #2cafcb !important;
	color: #fff !important;
  text-shadow: none !important;
}

/*Blue Hover */
.ui-controlgroup .ui-btn:hover,
.ui-controlgroup .ui-btn-active:hover,
[id*="sliderUpdateButton"].ui-btn:hover {
	background-color: #67c9de !important;
}

/* Blue Highlights */
.ui-checkbox .ui-btn:after {
	background-color: #2cafcb;
}

/* Blue Active */
.rbn-offers-panel .ui-panel-m-titlebar .ui-icon-plus,
.rbn-offers-panel .ui-panel-m-titlebar .ui-icon-minus,
.ui-paginator .ui-controlgroup .ui-btn-active
{
	background-color: #67c9de !important;
}

/* Blue Headings */
[id*="filterPanelCategory"] .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
[id*="filterPanelPrice"] .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
[id*="sliderUpdateButton"].ui-btn {
	background-color: #2cafcb !important;
  border: 1px solid #2cafcb !important;
	color: #fff;
	text-shadow: none;
}


.rbn-offers-panel > .ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
	background-color: #fff !important;
	color: #d54b0a !important;
	border: 1px solid #ddd !important;
}

.ui-panel-m-titlebar-icon, .ui-panel-m-titlebar-icon:hover  {
	border: none;
}

[id*="quickbookingtable_head"] {
  display: none;
}

.rbn-margin-top table {
	border: 1px solid #ddd;
}

.ui-bar-a.ui-paginator {
  border: none;
  background-color: #fff;
}

[id*="customertable"] .ui-column-header {
  background-color: #2cafcb;
	border: 1px solid #2cafcb;
	color: #fff;
	text-shadow: none;
}
