@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.ui-header.ui-bar-inherit{
  background:#fff url(https://dabb7zy6p4b0z.cloudfront.net/dpt/dpt-logo.png) no-repeat center !important;
  background-size: 310px;
  height:200px !important;
  border-bottom: 1px solid #eee !important;
  border-top: none !important;
}

@media(min-width: 768px) {
	.ui-header.ui-bar-inherit {
	background-size: 400px !important
	}
}

.ui-header.ui-bar-inherit h1.ui-title{
display:none !important;
}

.ui-overlay-a {
  background: #fff !important;
}

/* Panels */
.ui-datagrid-content .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.rbn-margin-top .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.rb-content .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
{
  border: 1px solid #ddd;
	background: #ddd !important;
  font-weight: bold !important;
  text-shadow:none !important;
}

/* Effects */
.ui-page-theme-a .ui-focus, .ui-page-theme-a .ui-btn:focus {
	-webkit-box-shadow: 0 0 0 0 !important;
	-moz-box-shadow: 0 0 0 0 !important;
	transition: ease-out 0.1s !important;
 }

 .ui-page-theme-a {
 	background-color: #fff !important;
 }

/* White Buttons */
#base_page\3a searchform\3a nights_input-button,
#base_page\3a searchform\3a guests_input-button,
.ui-select .ui-btn,
.ui-checkbox .ui-btn,
[id*="base_page:back"],
[id*="sortPanelGrid"] .ui-btn
{
	background-color: #fff !important;
	color: #d54b0a !important;
	border: 1px solid #ddd !important;
	text-shadow: none;
}

/* Filter Panel */
.rbn-filter-panel > .ui-panel-m-titlebar {
	color: #d54b0a;
	background-color: #fff;
}

#base_page\3a searchform\3a nights_input-button:after,
#base_page\3a searchform\3a guests_input-button:after,
.ui-select .ui-btn:after,
[id*="base_page:back"]:after
{
	background-color: #d54b0a !important;
}

/* Filter Headings */
[id*="filterPanelCategory"] .ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
[id*="filterPanelPrice"] .ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
	text-shadow: none;
}

/* Offer Options */
.rbn-offers-panel > .ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
	color: #d54b0a !important;
	border: 1px solid #ddd !important;
	background-color: #fff;
}

[id*="quickbookingtable_head"] {
  display: none;
}

.rbn-margin-top table {
	border: 1px solid #ddd;
}

.ui-bar-a.ui-paginator {
  border: none;
  background-color: #fff;
}
