@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

.ui-header.ui-bar-inherit{
  background:#fff url('//roomboss.github.io/css/dpt/dpt-logo.png') no-repeat center !important;
  background-size: 310px;
  height:200px !important;
  border-bottom: 1px solid #eee !important;
  border-top: none !important;
}

@media(min-width: 768px) {
	.ui-header.ui-bar-inherit {
	background-size: 400px !important
	}
}

.ui-header.ui-bar-inherit h1.ui-title{
display:none !important;
}

body,.ui-collapsible-themed-content:not(.ui-collapsible-collapsed)>.ui-collapsible-heading a,.ui-collapsible-inset .ui-collapsible-heading .ui-btn{
  background: #d54b0a !important;
}

.ui-overlay-a {
  background: #fff !important;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
  background: #d54b0a !important;
  color: #ffffff !important;
  font-weight: bold !important;
  text-shadow:none !important;
}

.ui-btn {
	border:none;
    background: #d54b0a !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-shadow: none !important;
}

.ui-btn:hover {
	border:none;
    background: #f88429 !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-shadow: none !important;
	transition: ease-out 0.2s !important;
}

.ui-state-default.ui-btn, .ui-datepicker-next, .ui-datepicker-prev {
	border: 1px solid #2cafcb  !important;
    background: #67c9de !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-shadow: none !important;
}

.ui-state-active.ui-btn, .ui-state-hover.ui-btn {
	border: 1px solid #67c9de !important;
    background: #2cafcb !important;
	color: #ffffff !important;
	font-weight: bold !important;
	text-shadow: none !important;

}

.ui-page-theme-a .ui-focus, .ui-page-theme-a .ui-btn:focus {
	-webkit-box-shadow: 0 0 0 0 !important;
	-moz-box-shadow: 0 0 0 0 !important;
	transition: ease-out 0.1s !important;
 }

 .ui-page-theme-a {
 	background-color: #fff !important;
 }

/* Hide filter */
#base_page\3a resultsform\3a filterPanel > .ui-bar-inherit {
	display: none !important;
	visibility: hidden !important;
}

/* Hide pagination */
#base_page\3a resultsform\3a vendorGrid_paginator_top, #base_page\3a resultsform\3a vendorGrid_paginator_bottom {
	display: none !important;
	visibility: hidden !important;
}

#base_page\3a searchform\3a nights_input-button, #base_page\3a searchform\3a guests_input-button, .ui-select .ui-btn {
	background-color: white !important;
	color: #d54b0a !important;
	border: 1px solid #ddd !important;
}

#base_page\3a searchform\3a nights_input-button:after, #base_page\3a searchform\3a guests_input-button:after, .ui-select .ui-btn:after {
	background-color: #d54b0a !important;
}

.rbn-offers-panel > .ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
	background-color: #fff !important;
	color: #d54b0a !important;
	border: 1px solid #ddd !important;
}
