/* @import url('//roomboss.github.io/css/ui/main02.css'); */


/* Custom design */

.rb-header {
  background-image: url("https://dabb7zy6p4b0z.cloudfront.net/northnagano/madarao_logo.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 200px !important;
  background-position: center;
  background-color: #fff !important;
  height:100px;
}

.rb-header-title {
  display: none;
}

.rb-parent-cat-title,
.rb-child-cat-title,
.rb-prod-title,
.rb-basket-title-pg,
.rb-checkout-title{
  color: #555555;
}

.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before {
  color: #0B9FDC;
}

/* Category Image Selected*/
.rb-parent-cat-container .rb-parent-cat-sel a img,
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a,
.rb-child-cat-container .rb-child-cat-sel a img,
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  box-shadow: 0 0 0px 6px #0B9FDC;
}

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
  color: #0B9FDC;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #0B9FDC;
  box-shadow: 2px -1 -1 #0B9FDC, -2px -1 -1 #0B9FDC;
}


/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #0B9FDC !important;
  background-color: #0B9FDC !important;
}

#orderForm\:booknow {
  background-color: #0B9FDC
  border: 1px solid #0B9FDC;
}
#orderForm\:booknow:hover {
  background-color: #0B9FDC;
  border: 1px solid #0B9FDC;
}

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color:#0EA5C0;
}

/* Default Buttons */

.ui-button.ui-widget.ui-state-default {
  background-color: #0B9FDC;
  border-color: #0B9FDC;
}
.ui-button.ui-widget.ui-state-hover {
  background-color: #0B9FDC;
}

/* Card title*/
.rb-prod-desc-item:nth-child(1) label {
    color: #555555 !important;
}

/* Remove Group Members */
.rb-my-group, .rb-my-booking, .rb-guests-pg,
#orderForm\:itemdtchkout_data > tr > td > [id*=member],
#orderForm\:itemdtchkout_data > tr > td > [id*=guestsselpg] {
  display: none;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

.rb-header {
  background-image: url("https://nisekogreenfarm.com/assets/img/ngf-logo-green.png"), url("https://dabb7zy6p4b0z.cloudfront.net/greenfarm/veggies2.jpg");
  background-color: #FFFFFF !important;
  background-repeat: no-repeat;
  background-position: center center, center 30%;
  background-size: 200px, cover;
  border: none;
  height: 150px !important;
  border-bottom: 0;
}

.rb-header-title {
  display: none;
}

.rb-header-title {
  font-family: "Noto Sans JP", sans-serif;
}
