/* Your Booking */
/* Custom */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
.rb-loc-cur label {
  font-weight: 400 !important;
}

.ui-dialog-titlebar .ui-state-hover {
  background-color: transparent;
}

#orderForm\:itemdtbsk,
#orderForm\:itemdtchkout,
.rb-guests-dt {
  border: 1px solid #ddd !important;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

.rb-header {
  background-image: url("https://nisekoalpineaccommodation.com/static/images/logo.png"),
    url("https://dabb7zy6p4b0z.cloudfront.net/nisade/nisadehero.jpg");
  background-color: #fff !important;
  background-repeat: no-repeat;
  background-position: center center, center 25%;
  background-size: 175px, cover;
  border: none;
  height: 100px !important;
  border-bottom: 0;
}

.rb-header-title {
  display: none;
}

.rb-header-title {
  font-family: "Noto Sans JP", sans-serif;
}

/* Custom Headers */
.rb-vendor-title,
.rb-parent-cat-title,
.rb-child-cat-title,
.rb-prod-title,
.rb-basket-title,
.rb-checkout-title,
.rb-my-booking-title,
.rb-my-group-title,
.ui-dialog-title,
#orderForm\:existglbl,
#orderForm\:newguestlbl,
#orderForm\:contactinfolbl,
#orderForm\:addqlbl,
#orderForm\:foremlblnew,
#guestDialogForm\:foremlbledit,
#orderForm\:welclbl,
#orderForm\:foremlbl,
h3 {
  color: #333;
  text-transform: none;
  font-family: "Noto Sans JP", sans-serif;
}

/*Custom Icons */
.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before,
.rb-checkout-title:before {
  color: #000;
}

/* Sel item highlight */
.rb-vendor-container .rb-vendor-sel a img, .rb-vendor-container .rb-vendor-sel .rb-cat-box a,
.rb-parent-cat-container .rb-parent-cat-sel a img,
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a,
.rb-child-cat-container .rb-child-cat-sel a img,
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  -webkit-box-shadow: 0 0 0px 6px #555555;
  box-shadow: 0 0 0px 6px #555555;
}

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
}

/* Hide Icon */
.rb-parent-cat-desc:before {
  display: none;
}

#orderForm\:addbskpg > tbody:nth-child(1) > tr:nth-child(1) {
  text-align: left;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #000;
  box-shadow: 2px -1 -1 #000, -2px -1 -1 #000;
}

/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #fff !important;
  background-color: #555555 !important;
}

.ui-dialog-title {
  color: #fff !important;
}

#orderForm\:booknow,
#orderForm\:booknowcond {
  background-color: #ff7900 !important;
  border: 1px solid #ff7900 !important;
  color: #fff !important;
}

#orderForm\:booknow:hover,
#orderForm\:booknowcond:hover {
  background-color: #cc6100 !important;
  border: 1px solid #cc6100 !important;
  color: #fff !important;
}

/* Custom Button Font */
.ui-button-text {
  font-family: "Noto Sans JP", sans-serif !important;
}

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #000;
}

.ui-widget-content .ui-state-highlight {
  background: #ff7900;
}

/* CHECKOUT */
.rb-checkout-title:before {
  content: "\f291";
  margin-right: 4px;
  font-family: "FontAwesome" !important;
}

/* Default Buttons */
.ui-button.ui-widget.ui-state-default {
  background-color: #ff7900;
  border-color: #ff7900;
  color: #fff !important;
}

.ui-button.ui-widget.ui-state-hover,
.ui-button.ui-widget.ui-state-active {
  background-color: #ff9433;
  border-color: #ff9433;
}

.ui-button {
  text-transform: uppercase;
}

.ui-header.ui-bar-inherit {
  border-bottom: 0;
  border-top: 0;
}

.ui-title {
  display: none !important;
}

/* Panels*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.ui-btn .ui-panel-collapsible-heading-toggle,
.ui-icon-minus:after,
.ui-icon-plus:after {
  background-color: #ff7900;
  border: none;
  color: #fff;
  text-shadow: none;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit:hover,
.ui-btn .ui-panel-collapsible-heading-toggle:hover {
  background-color: #1a1a1a;
}

/* Buttons */
#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow,
#base_page\:locform\:languageSelect_input-button,
#base_page\:locform\:currencySelect_input-button,
[id*=ppstdform] > .ui-btn {
  background-color: #ff7900;
  border: none;
  color: #fff !important;
  text-shadow: none !important;
}

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover,
#base_page\:locform\:languageSelect_input-button:hover,
#base_page\:locform\:currencySelect_input-button:hover,
[id*=ppstdform] > .ui-btn:hover{
  background-color: #ff9433;
  border: none;
}

#base_page:locform {
  margin-top: .25em;
}

.rb-prod-item-panel .item > button {display: none;}
