:root {
  --primary-color: #991b1e;
  --accent-color: #991b1e;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
  margin-right: 1rem;
  width: 150px;
  height: 52px;
  background: url('https://mgroupniseko.com/assets/svg/m-group-header-logo.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1024px) {
  .search-logo {
  width: 52px;
  height: 52px;
  background: url('https://mgroupniseko.com/assets/svg/m-group-m.svg');    
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  }
}
