#base_page {
	border: 20px solid #fafafa !important;
}

.ui-header.ui-bar-inherit{
	background:url("https://roomboss.github.io/css/iwanairesort/iwanai01.jpg") no-repeat;
	/*background-color: #03283b;*/
	background-position: 25%;
	/*background-size: 180px, 5000px;*/
	height:200px;
	/*padding:20px 500px 50px;*/
	border: none;
}

/*remove title
.ui-header.ui-bar-inherit h1.ui-title{
	display:none;
}
*/
