.ui-header.ui-bar-inherit{
	background:url("https://dabb7zy6p4b0z.cloudfront.net/iwanairesort/iwanai01.jpg") no-repeat;
	/*background-color: #03283b;*/
	background-position: 25%;
	/*background-size: 180px, 5000px;*/
	height:200px;
	/*padding:20px 500px 50px;*/
	border: none;
}

/*remove title */
.ui-header.ui-bar-inherit h1.ui-title{
	display:none;
}

input#base_page\:neworderform\:checkin_input {
	border: #999 5px solid;
	font-size: 1.3em;
}
