:root {
  --primary-color: #3388cc;
  --accent-color: #005790;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
    margin-right: 1rem;
    height: 80px;
    width: 81px !important;
    background: url(https://dabb7zy6p4b0z.cloudfront.net/ui/demo/demologo.png);
    background-color: #1e73be;
    background-size: 66px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 12px;
}
.mobile-search-logo {
  display: block !important;
  background: url(https://dabb7zy6p4b0z.cloudfront.net/ui/demo/demologo.png); 
  background-color: #1e73be;
  background-position: center 1px;
  background-size: 54px !important;
  border-radius: 6px;
}
