:root {
  --primary-color: #d6b257;
  --accent-color: black;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
  margin-right: 1rem;
  width: 200px;
  height: 70px;
  background: url('https://dabb7zy6p4b0z.cloudfront.net/aspect/aspect-logo-2.png');
  background-size: contain;
  background-repeat: no-repeat;
}
