:root {
  --primary-color: #684a00;
  --accent-color: #684a00;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}


.search-logo {
  margin-right: 1rem; 
  background: url('https://dabb7zy6p4b0z.cloudfront.net/nms/kizuna-logo.png');  
  background-size: contain;
  background-repeat: no-repeat;
  background-color:#684a00;
  background-position:center;
  border: 5px solid #684a00;
  box-sizing: border-box;
  width: 170px;
  height: 75px;
}
