:root {
  --primary-color: #329bc3;
  --accent-color: #329bc3;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
  margin-right: 1rem;
  width: auto;
  height: 52px;
  background: url('https://dabb7zy6p4b0z.cloudfront.net/nms/muse.png');
  background-size: contain;
}
