:root {
  --primary-color: #4f5050;
  --accent-color: #4f5050;
  --primary-contrast-color: white;
  --accent-contrast-color: #5c5a5a;
}


.search-logo {
  margin-right: 1rem; 
  width: 165px;
  height: 70px;
  background: url('https://dabb7zy6p4b0z.cloudfront.net/nms/nlv-white.png');  
  background-size: contain;
  background-repeat: no-repeat;
  background-color:#5c5a5a;
  background-position:center;
  border: 5px solid #5c5a5a;
  box-sizing: border-box;
  width: 170px;
  height: 75px;
}
