:root {
  --primary-color: #CB7C86;
  --accent-color: #CB7C86;
  --primary-contrast-color: white;
  --accent-contrast-color: #717071;
}


.search-logo {
  margin-top: 1rem; 
  width: 400px;
  height: 50px;
  background: url('https://dabb7zy6p4b0z.cloudfront.net/nms/vacation-niseko.svg');  
  background-size: contain;
  background-repeat: no-repeat;
}
