/* Dialog close icon hotfix */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
.ui-dialog-titlebar-close {
  padding: 1px !important;
  margin: 1px !important;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
#base_page\:postab_head .ui-bar-a,
#base_page\:ttab .ui-bar-a {
  background-color: #36B8EE !important;
  border: 1px solid #dddddd !important;
  color: #ffffff !important;
  text-shadow: none !important;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit h3 {
  color: #ffffff;
}

.ui-icon-minus {
  text-shadow: none;
  box-shadow: none;
}

.ui-icon-minus:after {
  background-color: #36B8EE !important;
}

.rbn-tab-img {
  margin-right: 0.5em;
}

.rb-header {
  background-position: center center, center center, 100% 50%;
}

@media screen and (max-width: 600px) {
  .rb-header {
    background-position: center center, center center, 100% 50% !important;
    background-position: calc(50% + 20px) calc(50% - 20px), calc(50% - 100px) calc(50% - 20px), 100% 50% !important;
    background-size: 200px, 100px, cover !important;
    height: 200px !important;
  }
}
.ui-datatable th.ui-state-default {
  background: #5D9CEC;
  color: #ffffff;
}

.rb-vendor-title:before, .rb-prod-title:before, .rb-parent-cat-title:before, .rb-child-cat-title:before {
  font-size: 24px;
}

#orderForm\:guestsdt {
  border: 1px solid #ddd !important;
  -webkit-box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1) !important;
}

[id*=newguestbut], #orderForm\:logout {
  color: #5D9CEC !important;
  font-weight: bold;
}

#orderForm\:guestsdt .ui-datatable-summaryrow > td {
  padding: 8px;
}

* {
  font-family: "Noto Sans JP", sans-serif;
}

.rb-header {
  background-image: url("https://www.fujiten.net/pc/images/fujiten_logo.png"), url("https://www.fujiten.net/pc/images/rental/ill02.png"), url("https://www.fujiten.net/pc/images/header_back.png");
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-position: center calc(50% - 20px), calc(50% - 185px) calc(50% - 20px), 100% 50%;
  background-size: 300px, 150px, cover;
  border: none;
  height: 220px !important;
  border-bottom: 0;
}

.rb-header-title {
  display: none;
}

.rb-header-title {
  font-family: "Noto Sans JP", sans-serif;
}

/* Custom Headers */
.rb-vendor-text, .rb-parent-cat-title > *, .rb-child-cat-title > *, .rb-prod-title > *, .rb-basket-title > *, .rb-basket-title-pg > *, .rb-checkout-title, .rb-my-booking-title > *, .rb-my-group-title > *, .ui-dialog-title, #orderForm\:existglbl, #orderForm\:newguestlbl, #orderForm\:contactinfolbl, #orderForm\:addqlbl, #orderForm\:foremlblnew, #guestDialogForm\:foremlbledit, #orderForm\:welclbl, #orderForm\:foremlbl, h3 {
  color: #1d1d1d;
  text-transform: uppercase;
}

/*Custom Icons */
.rb-vendor-title:before,
.rb-vendor-text:before,
.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before,
.rb-checkout-title:before {
  color: #36B8EE;
}

/* Sel item highlight */
.rb-vendor-container .rb-vendor-sel a img, .rb-parent-cat-container .rb-parent-cat-sel a img, .rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a, .rb-child-cat-container .rb-child-cat-sel a img, .rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  -webkit-box-shadow: 0 0 0px 6px #36B8EE;
  box-shadow: 0 0 0px 6px #36B8EE;
}

/* Lighter Desc Font */
.rb-vendor-desc,
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
}

/* Hide Icon */
.rb-parent-cat-desc:before {
  display: none;
}

#orderForm\:addbskpg > tbody:nth-child(1) > tr:nth-child(1) {
  text-align: left;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #36B8EE;
  box-shadow: 2px -1 -1 #36B8EE, -2px -1 -1 #36B8EE;
}

/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #5D9CEC !important;
  background-color: #5D9CEC !important;
}

.ui-dialog-title {
  color: #ffffff !important;
}

.ui-dialog-titlebar-icon.ui-dialog-titlebar-close.ui-state-hover {
  background: rgba(0, 0, 0, 0.08) !important;
}

#orderForm\:booknow,
#orderForm\:booknowcond {
  background-color: #8bb8f1 !important;
  border: 1px solid #8bb8f1 !important;
  color: #ffffff;
}

#orderForm\:booknow:hover,
#orderForm\:booknowcond:hover {
  background-color: #7aaae6 !important;
  border: 1px solid #7aaae6 !important;
  color: #ffffff !important;
}

/* Custom Button Font */
.ui-button-text {
  font-family: "Noto Sans JP", sans-serif !important;
}

/* Custom Button Font */
/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #36B8EE;
}

.ui-widget-content .ui-state-highlight {
  background: #5D9CEC;
}

/* CHECKOUT */
.rb-checkout-title:before {
  content: "";
  margin-right: 10px;
  font-family: "FontAwesome" !important;
}

/* Default Buttons */
.ui-button.ui-widget.ui-state-default {
  background-color: #5D9CEC;
  border-color: #5D9CEC;
  color: #fff !important;
  font-weight: 700 !important;
}

.ui-button.ui-widget.ui-state-hover,
.ui-button.ui-widget.ui-state-active {
  background-color: #8bb8f1;
  border-color: #8bb8f1;
}

.ui-button {
  text-transform: capitalized;
}

.ui-header.ui-bar-inherit {
  border-bottom: 0;
}

.ui-title {
  display: none !important;
}

/* Panels*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.ui-btn .ui-panel-collapsible-heading-toggle,
.ui-icon-minus:after, .ui-icon-plus:after {
  background-color: #f9f9f9;
  border: none;
  color: #fff;
  text-shadow: none;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit:hover,
.ui-btn .ui-panel-collapsible-heading-toggle:hover {
  background-color: #65c9f2;
}

/* Buttons */
#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow,
#base_page\:locform\:languageSelect_input-button, #base_page\:locform\:currencySelect_input-button {
  background-color: #5D9CEC;
  border: none;
  color: #fff !important;
  text-shadow: none !important;
}

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover,
#base_page\:locform\:languageSelect_input-button:hover, #base_page\:locform\:currencySelect_input-button:hover {
  background-color: #8bb8f1;
  border: none;
}
