/* @import url('//roomboss.github.io/css/ui/main02.css'); */

/* Custom design */

.rb-header {
	background: url(https://dabb7zy6p4b0z.cloudfront.net/chaletivy/logo_hirafu.png) 50% no-repeat;
	background-color: #003c24!important;	
	background-size: 150px; 	
	height: 140px;
}

.rb-header-title {
  display: none;
}

.ui-header.ui-bar-inherit h1.ui-title{
	display:none
}

.rb-parent-cat-title,
.rb-child-cat-title,
.rb-prod-title,
.rb-basket-title-pg,
.rb-checkout-title,
#orderForm\:existglbl,
#orderForm\:newguestlbl {
  color: #003c24;
}

.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before {
  color: #003c24;
}


/* Custom Headers */
.rb-vendor-title, .rb-vendor-text, .rb-parent-cat-title, .rb-child-cat-title, .rb-prod-title, .rb-basket-title, .rb-checkout-title, .rb-my-booking-title, .rb-my-group-title, .ui-dialog-title, #orderForm\:existglbl, #orderForm\:newguestlbl, #orderForm\:contactinfolbl, #orderForm\:addqlbl, #orderForm\:foremlblnew, #guestDialogForm\:foremlbledit, #orderForm\:welclbl, #orderForm\:foremlbl, h3 {
  color: #32624f;
  text-transform: uppercase;
}



/* Category Image Selected*/
.rb-vendor-container .rb-vendor-sel a img, 
.rb-parent-cat-container .rb-parent-cat-sel a img,
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a,
.rb-child-cat-container .rb-child-cat-sel a img,
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  box-shadow: 0 0 0px 6px #32624f;
}

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
  color: #535353;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #194f39;
  box-shadow: 2px -1 -1 #535353, -2px -1 -1 #535353;
}


/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #FFD700 !important;
  background-color: #535353 !important;
}

#orderForm\:booknow {
  background-color: #535353;
  border: 1px solid #535353;
}
#orderForm\:booknow:hover {
  background-color: #428bca;
  border: 1px solid #428bca;
}

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: rgb(55, 93, 157);
}

/* Default Buttons */

.ui-button.ui-widget.ui-state-default {
  background-color: #32624f;
  border-color: #32624f;
}
.ui-button.ui-widget.ui-state-hover {
  background-color: #4c7665;
}

/* Card title*/
.rb-prod-desc-item:nth-child(1) label {
    color:  #535353 !important;
}

/*booking today warnings*/
.rb-warn-guest-booking-today-dt, .rb-warn-guest-booking-today-msg{
    color:  red !important;
}

#orderForm\:booknow{
	display:none;
}

/* Scroll Pay button*/
#base_page\:txtab .ui-btn, #scrollToPay {
  color: #ffffff;
  text-shadow: none;
  border: 0px solid transparent;
  background-color: #32624f;
  transition: ease-out 0.25s;
  font-family: "Noto-sans JP", sans-serif;
}

#base_page\:txtab .ui-btn:hover, #scrollToPay:hover {
  background-color: #257d47;
}
