@import url(https://fast.fonts.net/cssapi/aaf65650-9663-4d95-8ef1-5108d077a9a5.css);body,.ui-collapsible-themed-content:not(.ui-collapsible-collapsed)>.ui-collapsible-heading a,.ui-collapsible-inset .ui-collapsible-heading .ui-btn{
  font-family:'Avenir Next W01',sans-serif;
  background:#d5b476;
  text-shadow:none;
}

.ui-header.ui-bar-inherit{
  background:#1E252B url('https://www.ayaniseko.com/assets/img/logo.png') no-repeat center;
  background-size:220px;
  border:none;
  height:145px;
}

.ui-header.ui-bar-inherit h1.ui-title{
display:none;
}

/* Input highlights */
.ui-page-theme-a .ui-btn:focus,html .ui-bar-a .ui-btn:focus,html .ui-body-a .ui-btn:focus,html body .ui-group-theme-a .ui-btn:focus,html head+body .ui-btn.ui-btn-a:focus,.ui-page-theme-a .ui-focus,html .ui-bar-a .ui-focus,html .ui-body-a .ui-focus,html body .ui-group-theme-a .ui-focus,html head+body .ui-btn-a.ui-focus,html head+body .ui-body-a.ui-focus{
box-shadow: inset 0 0 4px #aaa !important;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit{
  font-family:'Avenir Next W01',sans-serif;
  background:#d5b476;
  text-shadow:none;
}

[id*="requestPanel"] .ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
  background-color: #ededed !important;
  color: #666 !important;
}

/* Enquiry button colour */
.rbn-sendenquiry-button {
  background-color: #f6f6f6 !important;
  color: #000 !important;
}
.rbn-sendenquiry-button:hover {
background-color: #ededed !important;
}

/* Vendor padding */
.ui-grid.ui-grid-responsive.rbn-vendor-box {
  padding: 0.5em !important;
}

/* Select Dates Padding */
[id*="date-select-pan"] > div.ui-panel-m-content.ui-body.ui-body-inherit {
  	padding: 0.5em !important;
	outline: none !important;
	text-shadow: none !important;
  	box-shadow: none !important;
}

[id*="date-select-pan"] > div > div > .ui-block-a  {
	padding-right: .5em;
}
[id*="date-select-pan"] > div > div > .ui-block-c  {
	padding-left: .5em;
}
/* Select Dates Mobile */
@media(max-width: 400px) {
[id*="date-select-pan"] > div > div > .ui-block-a  {
	padding: 0.25em;
  	width: 100%;
}
[id*="date-select-pan"] > div > div > .ui-block-b  {
	padding: .25em;
  	width: 60%;
}
[id*="date-select-pan"] > div > div > .ui-block-c  {
	padding: .25em;
	width: 40%;
}
}

/* Image and gallery */
div.gallery {
  width: 100% !important;
  height: auto !important;
  padding-top: 56% !important;
	z-index: 0;
}
[id*="fadeEffectImages"] {
  width: 100% !important;
  height: auto !important;
	z-index: 0;
}

/* About you resizing */
@media(min-width:561px) {
  #base_page\:vform\:customertable .ui-block-a {
    padding-right: 1em;
  }
}
@media(max-width:560px) {
  #base_page\:vform\:customertable .ui-block-a,
  #base_page\:vform\:customertable .ui-block-b:not(:last-of-type){
    padding-bottom: .5em;
  }
}

/* Reference number */
html[lang=en] #base_page\:neworderform\:customIdTable\:customIdl,
html[lang=ja] #base_page\:neworderform\:customIdTable\:customIdl,
html[lang=en] #base_page\:neworderform\:customIdTable_data > tr > td > b, 
html[lang=ja] #base_page\:neworderform\:customIdTable_data > tr > td > b {
	display: none;
}
html[lang=en] #base_page\:neworderform\:customIdTable_data > tr > td:before,
html[lang=ja] #base_page\:neworderform\:customIdTable_data > tr > td:before {
	font-weight: bold;
}
html[lang=en] #base_page\:neworderform\:customIdTable_data > tr > td:before {
	content: "Please enter your 6 digit reference number *";
}
html[lang=ja] #base_page\:neworderform\:customIdTable_data > tr > td:before {
	content: "6桁の参照番号を入力してください *";
}

#ui-datepicker-div.ui-datepicker {
	z-index: 99 !important;
}
