@import url(https://fast.fonts.net/cssapi/aaf65650-9663-4d95-8ef1-5108d077a9a5.css);
body,
.ui-collapsible-themed-content:not(.ui-collapsible-collapsed)>.ui-collapsible-heading a,
.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
	font-family: 'Avenir Next W01', sans-serif;
	background: #d5b476;
	text-shadow: none;
}


/** Header **/
/* Custom Logo */

.ui-header.ui-bar-inherit {
	background: #1E252B url('https://www.ayaniseko.com/assets/img/logo.png') no-repeat center;
	background-size: 220px;
	border: none;
	height: 145px;
}
/* Remove Title */

.ui-header.ui-bar-inherit h1.ui-title {
	display: none;
}


/* Hide Vendor Image */

.rb-content>table:nth-child(2) {
	display: none;
}


/* Global Shadow */

.ui-page-theme-a .ui-btn:focus,
html .ui-bar-a .ui-btn:focus,
html .ui-body-a .ui-btn:focus,
html body .ui-group-theme-a .ui-btn:focus,
html head+body .ui-btn.ui-btn-a:focus,
.ui-page-theme-a .ui-focus,
html .ui-bar-a .ui-focus,
html .ui-body-a .ui-focus,
html body .ui-group-theme-a .ui-focus,
html head+body .ui-btn-a.ui-focus,
html head+body .ui-body-a.ui-focus {
	-webkit-box-shadow: 0 0 12px #916e2c;
	box-shadow: 0 0 12px #916e2c;
}


/* Panels */

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit {
	font-family: 'Avenir Next W01', sans-serif;
	background: #d5b476;
	text-shadow: none;
}


/* Remove Prices */

#base_page\3a neworderform\3a pricing>div>span {
	display: none;
}


/* Hide quantity*/

div.ui-block-b:nth-child(10)>span:nth-child(1) {
	visibility: hidden;
}

div.ui-block-a,
#base_page\:neworderform\:itmqty {
	display: none;
}


/* Full width Order Panel*/

.ui-grid-a>.ui-block-b {
	width: 99.9%;
}


/* Hide About Me */

#base_page\:neworderform\:aboutMePanel>div:nth-child(1)>h3:nth-child(1) {
	display: none;
}


/* Details */

#base_page\:neworderform\:aboutMePanel>div:nth-child(1):before {
	content: 'Lead Guest Details';
}


/** About me **/


/* hide country */

#base_page\:neworderform\:customerTable_data>tr:nth-child(1)>td:nth-child(5),
#base_page\:neworderform\:customerTable_head>tr:nth-child(1)>th:nth-child(5) {
	display: none;
}


/* Date selector padding */

[id*="checkin"] {
	padding-top: .4em;
}
#base_page\:neworderform\:checkin {
	margin-top: -14px;
}


/* Hide Currency Select */

#base_page\:neworderform\:totaltb_data>tr:nth-child(1),
[id*="currencySelect"],
#base_page>div.ui-content.rb-content>table>tbody>tr>td:nth-child(2)>h3 {
	display: none;
}

/* Request booking ID */
#base_page\3a neworderform\3a customIdTable_head > tr{
display: none;
}
#base_page\:neworderform\:customIdTable_data > tr:nth-child(1) > td:nth-child(1):before {
	display: block;
	content: 'Please enter your booking reference number (6-digits)';
	font-weight: bold;
}


/* Ref Mobile */

#base_page\:neworderform\:customIdTable_data>tr:nth-child(1)>td:nth-child(1)>b:nth-child(1) {
	display: none;
}
