 
:root {
  --primary-color: #linear-gradient(to top,#213357,#3585ac);
  --accent-color: #3585ac;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
    margin-right: 1rem;
    height: 80px;
    width: 120px;
    background: url(https://dabb7zy6p4b0z.cloudfront.net/taigaprojects/logo.png);    
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;   
}
