:root {
  --primary-color: #757575;
  --accent-color: black;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
 margin-right: 1rem;  
 height: 100px;
 width: 150px;
 background: url('https://dabb7zy6p4b0z.cloudfront.net/nozawahospitality/nhlogo2.png'); 
 background-size: contain;
 background-repeat: no-repeat;
 background-color:#757575;
 background-position:center;
 border: 10px solid #757575;
 box-sizing: border-box;
 border-radius:3px;

}

