:root {
  --primary-color: #a8a6a1;
  --accent-color: #a8a6a1;
  --primary-contrast-color: white;
  --accent-contrast-color: white;
}

.search-logo {
  width: 80px;
  height: 52px;
  background: url('https://images.squarespace-cdn.com/content/5fd4a25267ebfc29b091f7c5/1607772820927-9FY10K5Z0ZN9DMEUZOHH/logo.png?format=1500w&content-type=image%2Fpng');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.date-range {
  margin: auto !important;
}
