@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP&display=swap');

*{ font-family: 'Noto Sans JP', sans-serif; }

/* Custom design */

.rb-header {
  background-image: url("https://cdn.hanazononiseko.com/assets/hanazono-niseko-logo-54957dfcc30ba074224d79a540293230ed9bc706e92302d531bb77ec6ab764c9.svg");
  background-color: #000;
  background-repeat: no-repeat;
  background-position: 50% 66%;
	background-size: 250px;
  border: none;
  border-bottom: 10px solid #000;
    height:100px;
}
@media(max-width: 300px) {
  .rb-header {
    backgroun100px;
    background-position: 50% 90%;
  }
}

.rb-header-title {
  display: none;
}

.rb-parent-cat-title,
.rb-child-cat-title,
.rb-prod-title,
.rb-basket-title,
.rb-basket-title-pg,
.rb-checkout-title,
#orderForm\:existglbl,
#orderForm\:newguestlbl,
.rb-guest-for-emergencies > div > label,
.rb-my-group-title,
.rb-my-booking-title,
#orderForm\:contactinfolbl,
#orderForm\:addqlbl,
.rb-checkout-total label,
.rb-total label
 {
  color: #333;
  text-transform: uppercase;
  font-family: 'Noto Sans JP', sans-serif;
}

.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before{
  color: #0095D9;
  font-size: 1.1em
}

/* Category Image Selected*/
.rb-parent-cat-container .rb-parent-cat-sel a img,
.rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a,
.rb-child-cat-container .rb-child-cat-sel a img,
.rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  box-shadow: 0 0 0px 6px #0095D9;
}

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
  color: #777;
  font-family: "Open Sans", sans-serif;
}

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #0095D9;
  box-shadow: 2px -1 -1 #0095D9, -2px -1 -1 #0095D9;
   font-family: 'Noto Sans JP', sans-serif;
}

/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #0095D9 !important;
  background-color: #00A0DF !important;
  text-transform: uppercase;
}

#orderForm\:booknow {
  background-color: #00A0DF;
  border: 1px solid #00A0DF;
}
#orderForm\:booknow:hover {
  background-color: #0095D9;
  border: 1px solid #0095D9;
}

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #666 !important;
  font-weight: normal;
  font-family: 'Noto Sans JP', sans-serif;
}

/* Menu Highlight */
.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-highlight {
  background-color: #333;
  border-top: 2px solid #0095D9;
}

/* Default Buttons */
.ui-button {
  border-radius: 0;
  text-transform: uppercase;
}

.ui-button.ui-widget.ui-state-default {
  background-color: #EC5339;
  border-color: #EC5339;
}
.ui-button.ui-widget.ui-state-hover {
  background-color: #ea3f22;
}

/* Card title*/
.rb-prod-desc-item:nth-child(1) label {
  font-family: 'Noto Sans JP', sans-serif;
}

.ui-button > .ui-button-text,
.ui-dialog-title, .ui-dialog label {
  font-family: 'Noto Sans JP', sans-serif;
}

.rb-prod-desc-item:nth-child(2) label,
.rb-scroll-top-panel label, .rb-order-nav {
  font-family: "Open Sans", sans-serif;
}
