@charset "UTF-8";
/* Custom */
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700&display=swap");
.rb-parent-cat-title:before, .rb-child-cat-title:before, .rb-prod-title:before, .rb-basket-title-pg:before, .rb-checkout-title:before, #orderForm\:existglbl:before, #orderForm\:newguestlbl:before {
  font-size: 1.1em;
}

.rb-cat-desc {
  padding-top: 1em;
}

.rb-header {
  height: 200px;
}

/* Icon Update */
.fa-edit, .fa-trash-o {
  font-size: 20px !important;
  width: 24px !important;
  padding: 5px;
  background-color: #ddd;
  border-radius: 3px;
  color: #fff;
  margin-bottom: 4px;
  text-align: center;
}

.fa-edit {
  background: #00A0DF;
}

span:not(.ui-state-disabled) > .fa-edit:hover,
a > .fa-edit:hover {
  background: #0095D9;
}

.fa-trash-o {
  background: #EC5840;
}

span:not(.ui-state-disabled) > .fa-trash-o:hover,
a > .fa-trash-o:hover {
  background: #c94833;
}

a[id*=edit] {
  margin-left: 4px !important;
  margin-right: 4px !important;
}

#orderForm\:guestsdt_head > tr > th:nth-child(3) {
  width: auto !important;
}

/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #666 !important;
  font-weight: normal;
  font-family: "Noto Sans JP", sans-serif;
}

/* Menu Highlight */
.ui-selectonemenu-item.ui-selectonemenu-list-item.ui-state-highlight {
  background-color: #221E20;
  border-top: 2px solid #0095D9;
}

.ui-icon-delete {
  background-color: #0095D9;
}

* {
  font-family: "Noto Sans JP";
}

.rb-header {
  background-image: url("https://cdn.hanazononiseko.com/assets/hanazono-niseko-logo-54957dfcc30ba074224d79a540293230ed9bc706e92302d531bb77ec6ab764c9.svg");
  background-color: #221E20 !important;
  background-repeat: no-repeat;
  background-position: 50% 66%;
  background-size: 250px;
  border: none;
  height: 100px !important;
  border-bottom: 10px solid #221E20;
}

@media (max-width: 780px) {
  .rb-header {
    height: 130px !important;
    background-position: center 75%;
  }
}
@media (max-width: 360px) {
  .rb-header {
    height: 110px !important;
    background-size: 230px !important;
  }
}
.rb-header-title {
  display: none;
}

.rb-header-title {
  font-family: "Noto JP";
}

/* Custom Headers */
.rb-vendor-text, .rb-parent-cat-title, .rb-child-cat-title, .rb-prod-title, .rb-basket-title, .rb-checkout-title, .rb-my-booking-title, .rb-my-group-title, .ui-dialog-title, #orderForm\:existglbl, #orderForm\:newguestlbl, #orderForm\:contactinfolbl, #orderForm\:addqlbl, #orderForm\:foremlblnew, #guestDialogForm\:foremlbledit, #orderForm\:welclbl, #orderForm\:foremlbl, h3 {
  color: #333;
  text-transform: uppercase;
}

/*Custom Icons */
.rb-vendor-text:before,
.rb-parent-cat-title:before,
.rb-child-cat-title:before,
.rb-prod-title:before,
.rb-basket-title-pg:before,
.rb-checkout-title:before,
#orderForm\:existglbl:before,
#orderForm\:newguestlbl:before,
.rb-checkout-title:before {
  color: #0095D9;
}

/* Sel item highlight */
.rb-vendor-container .rb-vendor-sel a img, .rb-parent-cat-container .rb-parent-cat-sel a img, .rb-parent-cat-container .rb-parent-cat-sel .rb-cat-box a, .rb-child-cat-container .rb-child-cat-sel a img, .rb-child-cat-container .rb-child-cat-sel .rb-cat-box a {
  -webkit-box-shadow: 0 0 0px 6px #0095D9;
  box-shadow: 0 0 0px 6px #0095D9;
}

/* Lighter Desc Font */
.rb-parent-cat-desc,
.rb-child-cat-desc {
  font-weight: normal;
}

/* Hide Icon */
.rb-parent-cat-desc:before {
  display: none;
}

#orderForm\:addbskpg > tbody:nth-child(1) > tr:nth-child(1) {
  text-align: left;
}

/*#orderForm\:stdtlbl,
#orderForm\:grosslbl {
  margin-left: 8px;
}*/

/* Basket Item Highlights */
#orderForm\:itemdtbsk_data tr.ui-widget-content > td:nth-child(1) > label,
#orderForm\:itemdtchkout_data tr.ui-widget-content > td:nth-child(1) > label {
  background-color: #0095D9;
  box-shadow: 2px -1 -1 #0095D9, -2px -1 -1 #0095D9;
  color: #ffffff;
}

/* Accent Dialogue Title */
.ui-dialog .ui-dialog-titlebar {
  border-color: #0095D9 !important;
  background-color: #888 !important;
}

.ui-dialog-title {
  color: #ffffff !important;
}

#orderForm\:booknow,
#orderForm\:booknowcond {
  background-color: #0095D9 !important;
  border: 1px solid #0095D9 !important;
  color: #fff !important;
}

#orderForm\:booknow:hover,
#orderForm\:booknowcond:hover {
  background-color: #0072a6 !important;
  border: 1px solid #0072a6 !important;
  color: #fff !important;
}

/* Custom Button Font */
/* Custom Button Font */
/* Lang and currency */
#locform\:currencySelect_label,
#locform\:languageSelect_label {
  color: #000;
}

.ui-widget-content .ui-state-highlight {
  background: #0095D9;
}

/* CHECKOUT */
.rb-checkout-title:before {
  content: "";
  margin-right: 10px;
  font-family: "FontAwesome" !important;
}

/* Default Buttons */
.ui-button.ui-widget.ui-state-default {
  background-color: #0095D9;
  border-color: #0095D9;
  color: #fff !important;
}

.ui-button.ui-widget.ui-state-hover,
.ui-button.ui-widget.ui-state-active {
  background-color: #0db3ff;
  border-color: #0db3ff;
}

.ui-button {
  text-transform: uppercase;
  border-radius: 0;
}

.ui-header.ui-bar-inherit {
  border-bottom: 10px solid #221E20;
  border-top: 10px solid #221E20;
}

.ui-title {
  display: none !important;
}

/* Panels*/
.ui-panel-m-titlebar.ui-bar.ui-bar-inherit,
.ui-btn .ui-panel-collapsible-heading-toggle,
.ui-icon-minus:after, .ui-icon-plus:after {
  background-color: #221E20;
  border: none;
  color: #fff;
  text-shadow: none;
}

.ui-panel-m-titlebar.ui-bar.ui-bar-inherit:hover,
.ui-btn .ui-panel-collapsible-heading-toggle:hover {
  background-color: #1a1a1a;
}

/* Buttons */
#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow,
#base_page\:locform\:languageSelect_input-button, #base_page\:locform\:currencySelect_input-button {
  background-color: #0095D9;
  border: none;
  color: #fff !important;
  text-shadow: none !important;
}

#base_page\:gform > .ui-btn.ui-input-btn.ui-corner-all.ui-shadow:hover,
#base_page\:locform\:languageSelect_input-button:hover, #base_page\:locform\:currencySelect_input-button:hover {
  background-color: #0db3ff;
  border: none;
}

/* Order 02.5 */
.rb-vendor-container {
  padding-top: 6px;
  padding-bottom: 0 !important;
}

.flex-item.rb-vendor-item {
  width: 200px;
  max-width: 200px !important;
  padding: 10px !important;
}

.rb-vendor-item img {
  width: 200px;
}

.rb-vendor-container label, .rb-parent-cat-container label, .rb-child-cat-container label {
  font-size: 15px;
  line-height: 18px;
  display: block;
}

/* Double cat width */
@media (max-width: 420px) {
  .rb-parent-cat-container,
.rb-child-cat-container {
    padding: 6px 0 0 !important;
  }

  .flex-item.rb-parent-cat-item,
.flex-item.rb-child-cat-item {
    padding: 10px !important;
  }

  .rb-parent-cat-item, .rb-child-cat-item,
.rb-parent-cat-item > div > a > img,
.rb-child-cat-item > a > img,
.rb-cat-box,
.rb-cat-box > a {
    width: 120px !important;
  }

  .rb-parent-cat-item > div > a > img,
.rb-child-cat-item > a > img,
.rb-cat-box,
.rb-cat-box > a {
    height: 120px !important;
  }

  /* Double vendor */
  .flex-item.rb-vendor-item {
    width: 120px;
    height: auto;
    max-width: 120px !important;
    padding: 10px !important;
  }

  .rb-vendor-item img {
    width: 120px;
    height: auto;
  }
}

html[lang=ja] #orderForm\:fnmlblnew:after,
html[lang=ja] #orderForm\:lnmlblnew:after{
    content:"（ローマ字でご入力ください)";
    color:red;
    font-size: .8em;
  }

/*# sourceMappingURL=niss03.css.map */
