@import url('dabb7zy6p4b0z.cloudfront.net/hhg/hhg.css');

/*page white and font*/
.ui-page-theme-a{
  	font-family: 'Open Sans',sans-serif;
	font-weight: 100;
 	background: #ddd !important;
	color: black;
	text-shadow: none;
}


/* ------ Search ------ */

#base_page\:selectvendorform\:textGrid,
#base_page\:selectvendorform\:controlsGrid {
	background-color: #fff;
	border: none;
	text-shadow: none;
	text-align: center;
}
/* Top Portion */
#base_page\:selectvendorform\:textGrid {
	padding: 1em 1em 0 1em;
}
/* Bottom Portion Message */
#base_page\:selectvendorform\:controlsGrid {
	padding: 1em;
	font-weight: 700;
	/*! display: table-cell; */
	/*! width: 100%; */
	/*! margin: 0 auto !important; */
}

/* Date Emphasis */
#base_page\:selectvendorform\:selectionDate_input,
#base_page\:neworderform\:checkin_input {
	text-align: center;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	border-radius: 5px;
}
/* Date Border */
#base_page\:selectvendorform\:selectionDate .ui-input-text,
#base_page\:neworderform\:checkin_input {
	border: 0.2em solid #888;
}
/* Date Spacing */
#base_page\:selectvendorform\:controlsGrid > div.ui-block-a,
#base_page\:selectvendorform\:controlsGrid > div.ui-block-b,
#base_page\:selectvendorform\:controlsGrid > div.ui-block-c{
	padding: 0 5px 0 5px !important;
}
#base_page\:neworderform\:checkin {
	margin: 0.5em 0;
}

[id*="checkin"] {
	cursor: pointer;
}

/* Datepicker Icon */
[id*="base_page:neworderform:checkin"]:before {
content: "\f133" !important;
	font-family: "FontAwesome" !important;
	color: #333;
	position: absolute;
	margin: 10px 10px;
	pointer-events: none;
	z-index: 99 !important;
	opacity: 0.5;
}

/* Circle item */

.ui-panel-m-titlebar-icon.ui-btn.ui-shadow.ui-corner-all.ui-icon-minus.ui-btn-icon-notext.ui-btn-right {
	background-color: #ccc;
	text-shadow: none;
	border: none;
}

/* ------ Buttons ------ */

.ui-btn {
	text-shadow: none !important;
}

/* language and currency buttons */
[id*="languageSelect"] .ui-select,
[id*="currencySelect"] .ui-select {
  margin-top: 1em;
}

/* Remove Item button sizing tweaks */
#base_page\:neworderform\:orderItemTable\:0\:remlnk {
  width: 100%;
  margin-top: 0;
}

/* Remove Input highlights */
.ui-page-theme-a .ui-btn:focus,html .ui-bar-a .ui-btn:focus,html .ui-body-a .ui-btn:focus,html body .ui-group-theme-a .ui-btn:focus,html head+body .ui-btn.ui-btn-a:focus,.ui-page-theme-a .ui-focus,html .ui-bar-a .ui-focus,html .ui-body-a .ui-focus,html body .ui-group-theme-a .ui-focus,html head+body .ui-btn-a.ui-focus,html head+body .ui-body-a.ui-focus{
box-shadow: inset 0 0 4px #aaa !important;
}

[id*="pkgMsg"] div {
	background-color: #fff !important;
	padding: 0 1em 0 0.5em
}
[id*="pkgMsg"] div:first-of-type {
	padding-top: 1em;
}
